[2015-11-30 13:25] Ener-Getick commented on #1237
This error is caused by the twig exception controller which requires the logger.
Only the RequestBodyParamConverter can support this class so it is executed but it wasn't expected to be...

I don't really see a solution to this problem except creating a list of the classes to ignore...

[2015-11-30 13:37] lyrixx commented on #1237
I don't know fos rest at all, but I don't understand why fos rest try to do thing with constructor argument. It should deal only controller argument?

[2015-11-30 13:41] Ener-Getick commented on #1237
FOSRestBundle tries to deal with [this class method](https://github.com/symfony/twig-bundle/blob/master/Controller/ExceptionController.php#L56) which requires the logger. This is not a constructor argument ;-)

[2015-11-30 13:43] lyrixx commented on #1237
Oups, indeed. Sorry.

[2015-11-30 14:26] Ener-Getick commented on #1237
We can also force the user to explicitly requests the ``RequestBodyParamConverter`` by checking that ``ParamConverter::getConverter() === 'fos_rest.request_body'`` but this is a BC break so only in 2.0...

[2015-11-30 17:07] lyrixx commented on #1237
How can I work-arround it?

[2015-11-30 17:10] Ener-Getick commented on #1237
What do you think about this @xabbuh @lsmith77 ?

[2015-11-30 17:30] ogizanagi commented on #1237
@Ener-Getick : What about adding a check in the `supports` method for a list of approved paths from a new configuration parameter:

[code]

By default, when enabled, the converter will be supported for every requests. Otherwise, it can be configured to include required paths (or can work with exclusions instead, or both).

It'll do the trick for FOSRestBundle  < 2.0, and could be removed in 2.0 in

[2015-11-30 17:45] Ener-Getick commented on #1237
Sure @ogizanagi, @lsmith77 introduced a similar feature in #1139 which was merged on master.
There are several BC breaks but I think that they can be easily removed to merged this PR in 1.* but it would mean to create a new 1.8 release.

#1152 tried to introduce something really flexible but @lsmith77 couldn't finish it if someone wants to continue the work on it, any help is welcome ;-)

[2015-12-01 08:46] MaxBoltik opened #1238 "Using RequestBodyParamConverter with get parametr."
When I need to update an entity, I need to put "id" in the request body.
But there is no way to pass id in query string.

For example, I want update Person and get person entity by {id}:

[code]
To solve this I extends DoctrineObjectConstructor and add following code:
[code]

Сan you add such a possibility? Or solve the problem some other way.

[2015-12-01 14:00] PalliDotCom opened #1239 "Implementing a custom encoder"
Is it possible to implement a custom encoder. I want to implement a encoder for the bson format.
http://bsonspec.org/

I´ve implemented a custom DecoderInterface and added this to the configuration:

[code]

But the request still fails:

Any ideas?

[2015-12-01 23:51] #1102 closed

[2015-12-02 10:01] casparcrop94 commented on #1106
I still can't do composer update with the FOSRestBundle, because the bundle requires an 2.* http-kernel

[2015-12-02 10:12] stof commented on #1106
@casparcrop94 you need to use the ``2.0.*@dev`` versions of the bundle, as the Symfony 3 support is not yet available in released versions of the bundle (and not in the 1.7 branch either).

@lsmith77 any plan to make 1.x compatible with Symfony 3 ?

[2015-12-02 11:02] Ener-Getick commented on #1106
What do you mean? all the constraints are updated in 2.0 https://github.com/FriendsOfSymfony/FOSRestBundle/blob/master/composer.json

[2015-12-02 11:04] stof commented on #1106
@Ener-Getick 2.0 is a dev version, not a released version, so this is not what people are using

[2015-12-02 11:20] lsmith77 commented on #1106
@stof this is somewhat undecided at this point .. originally I wanted to have 2.0 release by now already. a few things came up but imho we can release very quickly if we decide to.

In the mean time this idea of a BC layer came up which would go into a 1.8 release and there we could in theory also enable 3.0 but with deprecation notices. I guess we can have a meeting on Saturday to discuss this an

[2015-12-02 11:20] Ener-Getick commented on #1106
Sure sorry I didn't see your message... To support symfony 3.0, we would have to create bc layers. We should discuss about this, it depends too if the 2.0 will be released soon or not.

[2015-12-02 11:43] Ener-Getick commented on #1106
Why not @lsmith77, but I do not understand English as well orally as writing :/

[2015-12-04 08:48] magnetik commented on #677
I don't really understand how this PR helps to solve the bug described here.

Should I use custom serialization groups ?

[2015-12-04 16:02] Ma27 opened #1242 "[question] fos rest 2 release date"
hey there,
I'm planning to update my projects to symfony 3, but there's no stable version of FOSRest supporting it, so I'd like to know when  fosrest 2 will be released

[2015-12-04 16:40] Ener-Getick commented on #1239
Not sure what you mean.

Do you have this in your config ?
[code]

Then if you want to use bson you should create a new [encoder](http://api.symfony.com/2.4/Symfony/Component/Serializer/Encoder/EncoderInterface.html) and tag it with ``serializer.encoder`` (if you use the symfony serializer).
Or if you use the jms serializer, you have to create a new ``SerializationVisitor`` and tag it with ``jms_s

[2015-12-04 16:44] #1148 closed

[2015-12-04 18:30] lsmith77 opened #1243 "mark as many classes/methods as possible as internal"

[2015-12-04 18:31] lsmith77 opened #1244 "turn internal methods and properties into private"
follow up for https://github.com/FriendsOfSymfony/FOSRestBundle/issues/1243

[2015-12-04 18:32] lsmith77 opened #1245 "create a serialization context adapter"
include https://github.com/xabbuh/FOSRestBundle/commit/d9818e842ce2a8ec5dd8960d3e007e963d8240d0

[2015-12-04 18:35] lsmith77 commented on #1245
see also https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1213/files#diff-a017d18c947ad8d86d5f6ad13de8ce6e

[2015-12-04 21:35] Ener-Getick commented on #1242
``FOSRestBundle`` 1.7 now supports symfony 3.0.

[2015-12-04 21:35] #1242 closed

[2015-12-04 21:47] Ma27 commented on #1242
awesome! thank you :)

[2015-12-04 22:58] xabbuh commented on #1242
Well, actually the tag for that fix isn't created yet (you can expect that tomorrow), but the `1,7` branch already contains the necessary changes.

[2015-12-04 23:32] Ma27 commented on #1242
seen it, but it'll take some days until I'll bump the version to 3.x :)

2015-12-04 23:58 GMT+01:00 Christian Flothmann <notifications@github.com>:

[2015-12-05 18:37] #1217 closed

[2015-12-05 18:38] Ener-Getick commented on #1218
This is fixed in ``NelmioApiDocBundle`` 2.11.

[2015-12-05 18:38] #1218 closed

[2015-12-07 18:28] Engerim opened #1255 "Bug in Version 1.7.3?"
Since the scope attribute was removed from the service, the ParamFetcher does not init the params property again for the sub request, so if an exception is triggered inside the paramFetcher instead of rendering the exception response the paramfetcher throws the same exception again

[2015-12-07 18:29] stof commented on #1255
Anyway, removing the request scope was broken, as the params are specific to each request. The ParamFetcher needs to be refactored to be able to live in the container scope.
@Ener-Getick can you check this as you worked on the Symfony 3 compat ?

[2015-12-07 18:31] Engerim commented on #1255
a potential fix is to reset the params if a new controller is set in the paramfetcher

[2015-12-07 18:36] stof commented on #1255
this would not work. It would mean that after the subrequest, the main request would get the params of the subrequest instead of its own params

[2015-12-07 18:37] Ener-Getick commented on #1255
Yeah didn't think about this when I refactored the ``ParamFetcher`` to support ``RequestStack``...
This bug is probably also present in master as the ``initParams`` function hasn't been refactored.

[2015-12-07 20:35] Ener-Getick commented on #1255
What about saving the last request used in the param fetcher and change ``ParamFetcher::getParams()`` to:
[code]

[2015-12-07 21:19] Ener-Getick commented on #1239
ping

[2015-12-09 15:46] acassan commented on #1219
Have you find some solution ?

[2015-12-11 11:20] gtrias opened #1262 "Unrecognized option "versioning" under "fos_rest""
Using version 1.7. Throws the error: ``Unrecognized option "versioning" under "fos_rest"``

I've followed all the steps in the official documentation and I can't use versioning feature.
Other thing I'm wondering is why the documentation points to FOSRestBundle 2.0 version if such version still doesn't exists?

Should I use other version? I can see the last release is 1.7.4, the one I have installe

[2015-12-11 11:24] gtrias commented on #1262
Ok, I can see in master is defined the option in Configuration.php so, I guess there's not a release with this feature yet?

[2015-12-11 11:44] stof commented on #1262
Indeed. This feature is not yet released.

Regarding the doc, symfony.com displays the master branch by default for bundles. But there is a version switcher to see the 1.7 doc

[2015-12-11 12:00] Ener-Getick commented on #1262
We can probably easily port this feature to 1.8

[2015-12-11 12:14] gtrias commented on #1262
I would appreciate to be able to use this feature for a project I'm working in :), so if this can be easily port to 1.8 here you have my :+1:

[2015-12-11 15:40] luispabon commented on #1044
This would be great to have, we've just been puzzling about this same issue. On big payloads with nested relations it can be a bit of an issue to find.

[2015-12-11 17:05] Ener-Getick commented on #1255
Is #1263 an appropriate bug fix for you ?

[2015-12-12 12:08] Ener-Getick commented on #1224
Could you create a PR please?

[2015-12-12 13:55] alfonsomga commented on #1121
Hey @jbenezech that scenario looks insteresting, you solved it?

[2015-12-13 10:29] lsmith77 commented on #1262
@gtrias just FYI 1.8 will not be released before 2.0 though .. but it will be easier to switch from 1.7 to 1.8

[2015-12-14 14:48] Soullivaneuh commented on #1219
Actually not.

[2015-12-15 01:03] jbenezech commented on #1121
@alfonsomga , as a temporary solution, we've solved that by registering a form type extension which disables the csrf protection based on the request path (/api)

[2015-12-15 13:18] acassan commented on #1219
At least a form class deserializer

[code]

And service configuration:

[code]

Working on my side

[2015-12-15 14:04] JHGitty opened #1266 "Add namespace to documentation"
The current documentation does not contain any namespaces.
http://symfony.com/doc/current/bundles/FOSRestBundle/2-the-view-layer.html

I think this namespace should be used in the example:
[code]

Or what's about ``ApiBundle\Controller``?

[2015-12-15 14:52] lsmith77 commented on #1009
https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1267

[2015-12-16 13:04] PalliDotCom commented on #1239
Thanks for your reply, now its working!

[2015-12-16 13:04] #1239 closed

[2015-12-18 15:31] fsevestre commented on #1224
Sorry, I didn't see your answer before. I open a PR this weekend.

[2015-12-20 21:58] Ma27 opened #1271 "weird fails when trying to install FOSRestBundle 1.7.5"
hello there.
at one of my open source projects we tried to update FOSRestBundle to 1.7.5, but then we got a lot of weird failures such as "FOS\RestBundle\Util\COdes" not found.
I know that this class will be removed in 2.0, but not in a patch release. The result of that issue was the following commit:https://github.com/Sententiaregum/Sententiaregum/commit/c246cda2cfc34799f74d2549f6b92430827b2dd9

[2015-12-20 22:04] piotrantosik commented on #1271
Is a bug with tag - 1.7.5 is tagged as 2.0 release https://github.com/FriendsOfSymfony/FOSRestBundle/blob/1.7.5/composer.json

[2015-12-20 22:09] Ener-Getick commented on #1271
Arf yeah that's a mistake, sorry...
I just [released ``1.7.6``](https://github.com/FriendsOfSymfony/FOSRestBundle/releases/tag/1.7.6).

[2015-12-20 22:09] #1271 closed

[2015-12-20 22:16] Ma27 commented on #1271
thx :+1:

[2015-12-21 08:46] fsevestre commented on #1224
@Ener-Getick In which branch should I create the PR ?

[2015-12-21 09:06] Ener-Getick commented on #1224
@fsevestre In ``1.8``

[2015-12-21 14:37] Soullivaneuh opened #1274 "FOSUser model properties not show"
With those two serializer configurations:

[code]

I don't have parent class properties since upgrading from `v1.7.4` to `v1.7.6`:

[code]

[2015-12-21 14:43] Ener-Getick commented on #1274
There weren't many changes in ``1.7.6`` (see [here](https://github.com/FriendsOfSymfony/FOSRestBundle/compare/1.7.4...1.7.6)).
So I don't think that this is linked to ``FOSRestBundle``.

[2015-12-21 15:02] Soullivaneuh commented on #1274
Indeed, spoke too faster. Sorry for that.

[2015-12-21 15:02] #1274 closed

[2015-12-23 16:00] fsevestre opened #1277 "[1.8] Class 'Negotiation\FormatNegotiator' not found"
While adding some tests for #1224, I ended up with this error:

[code]

It installed the v2.0.2 of https://github.com/willdurand/Negotiation which don't have the `FormatNegotiator` class anymore.

[2015-12-23 16:03] Ener-Getick commented on #1277
Did you try to run ``composer update``?
``1.8`` doesn't support ``willdurand/negotiation`` 2.0 (see [here](https://github.com/FriendsOfSymfony/FOSRestBundle/blob/1.8/composer.json))

[2015-12-23 16:06] fsevestre commented on #1277
Sorry my bad, you are right.

[2015-12-23 16:06] #1277 closed

[2015-12-23 21:10] JHGitty opened #1278 "Response should not be automatically 204 if empty"
The response is automatically on status code 204 if the response is empty.

[code]
.. results in a 204 response. I've expected status code 200.

[2015-12-23 22:23] Ener-Getick commented on #1278
Well IMO, if the status code is manually defined by the user, we should not override it.
(that's your case)

But in the case that the status code is not specified, I think that we should override it if the response is empty.

[2015-12-23 22:36] Ener-Getick commented on #1075
This feature will be available in 2.0.

[2015-12-23 22:36] #1075 closed

[2015-12-23 23:59] JHGitty commented on #1278
@Ener-Getick Sure - but why happened it on my code? :smile:

[2015-12-24 09:53] Ener-Getick commented on #1278
Because we actually don't make any difference between this two cases.
Could you create a PR on master?

[2015-12-24 12:24] #1243 closed

[2015-12-24 12:24] #1244 closed

[2015-12-24 12:37] Ener-Getick commented on #1266
:+1:
I think that we should follow the [symfony standards](http://symfony.com/doc/current/contributing/documentation/standards.html) and use the ``AppBundle`` at least for the first code block of each page then we can just add the file path.

IMO we should also remove all the ``<?php`` tag.

[2015-12-24 17:06] lsmith77 commented on #1278
+1

[2015-12-25 08:22] Zoumourrouda opened #1280 "Displaying only 404 error messages on JSON (FOSRestBundle)"
I used FOSRestBundle in order to convert the error messages format to JSON.

This is the fos_rest config part in config.yml :
[code]
The problem is that all pages (even with status code = 200) are converted and not only when error occurs (404, 500, ...)

[2015-12-25 10:48] Ener-Getick commented on #1280
What do you mean?
The pages are converted when an error occurs and your configuration only defines which status code to use for this classes.
You have to catch your exception in your controller if you want it to not be converted.

[2015-12-25 14:42] Zoumourrouda commented on #1280
In fact, I want to change the format of the 404 error pages into JSON. But that does not exactly happened.
I noticed that this line :
[code]
changes the format of all pages

[2015-12-25 17:07] Ener-Getick commented on #1280
What's your use case?
I don't understand why you want to have a different format for an error page than the normal page.

You actually can't do such thing and I don't think that we should support it.
The route matchers covers most of the cases (if not all).

[2015-12-26 02:08] sampath92 opened #1281 "Is FOSRestBundle support for Symfony 3.0 version"
Hi ,

Can please let us know is this FOSRestBundle supports with Symfony 3.0 or what is the maximum Symfony version it supports. Thanks.

[2015-12-26 07:56] xabbuh commented on #1281
The latest 1.7 releases of the bundle can be used with Symfony 3 too.

[2015-12-26 09:57] #1281 closed

[2015-12-26 11:34] Zoumourrouda commented on #1280
Actually, I thought that it was possible to change only the error pages format by following this guide http://symfony.com/doc/current/bundles/FOSRestBundle/4-exception-controller-support.html

Is it really impossible? Do I have to give up? :(

[2015-12-26 12:13] Ener-Getick commented on #1280
No it's impossible you can only change their status and their content but not their format which is the same as the corresponding normal page.

[2015-12-26 12:15] Ener-Getick commented on #1280
You can still create your own exception controller extending the FOSRestBundle's exception controller.

[2015-12-26 20:59] Ener-Getick commented on #1255
Fixed in #1263.
Thank you!

[2015-12-26 20:59] #1255 closed

[2015-12-27 13:53] Zoumourrouda commented on #1280
Ok thank you for your help :)

[2015-12-27 13:53] #1280 closed

[2015-12-27 14:01] Ener-Getick commented on #1280
You're welcome :-)
If you think this should be added you can still leave this issue opened but I think even if we wanted to support it, it would complicated technically.

ping @xabbuh @lsmith77

[2015-12-28 09:47] xabbuh commented on #1280
I agree with @Ener-Getick. Supporting this in a generic way only complicates things and honestly I do not thing that this is an everyday use case. Maybe you can even just register another listener that intercepts before the one from FOSRestBundle and only steps into when an exception occurred.

[2015-12-28 10:01] basma-yangui commented on #1280
@xabbuh  Can you explain more your solution please?

[2015-12-28 19:12] Ener-Getick opened #1284 "Use the container to resolve our values"
I just discovered that the ``Container`` provides a nice way to resolve our value.

Instead of having our own code to do that, we can use this:
[code]

The problem is that this method is only available in the ``Container`` not in its interface.

So I'm wondering if we can support value resolutions only with the symfony ``Container`` or if we have to support custom ``Container``s too.

[2015-12-28 19:14] Ener-Getick commented on #1284
Would be easier if [this](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/DependencyInjection/ParameterBag/ParameterBag.php#L170) was in another class...

[2015-12-28 19:37] #1262 closed

[2015-12-28 20:17] Ener-Getick commented on #1284
I opened an issue https://github.com/symfony/symfony/issues/17160 to see if we can have a cleaner solution.

[2015-12-29 12:50] ibraelillo opened #1293 "Error while trying to enterScope with Sf3"
hello,

I'm describing my routes as follow

[code]

and my service "app.controller.user_controller"

[code]

The same controller service configuration works well in 2.7 as I have it in production right now, but whithin the new app in sf3, I'm having an error while tring to load routes:

**UndefinedMethodException in RestRouteLoader.php line 120:
Attempted to call an undefined method named "enterSc

[2015-12-29 13:19] Ener-Getick commented on #1293
It seems that we forgot a fix in ``1.7``... I'll fix it this afternoon.

[2015-12-29 13:27] xabbuh commented on #1293
We have a check using `method_exists()`: https://github.com/FriendsOfSymfony/FOSRestBundle/blob/master/Routing/Loader/RestRouteLoader.php#L120

@ibraelillo Which version of the bundle do you use?

[2015-12-29 13:40] Ener-Getick commented on #1293
Not in 1.7 @xabbuh

[2015-12-29 13:43] xabbuh commented on #1293
Indeed, maybe we can simply backport that patch.

[2015-12-29 16:05] Ener-Getick commented on #1293
I released a new version including #1294, thank you @ibraelillo :-)

[2015-12-29 16:05] #1293 closed

[2016-01-01 09:41] kptLucek opened #1298 "Request's query bag is empty, when it shouldn't"
Hi there, and happy new year :)

First of all, i've created an endpoint to search user based on some credentials,

**Controller's action**
[code]
**app/config/routing.yml**

[code]

**ApiBundle/Resources/config/routing.yml**
[code]

**fos_rest.yml**
[code]

And now, when accessing **/user/search?phrase=xyz** im getting this:
[code]

**Server parameters**
REQUEST_URI 	/api/user/search?phrase=xyz

!

[2016-01-01 11:54] Ener-Getick commented on #1298
I don't see how this can be related to ``FOSRestBundle`` which never update this attribute...
Can you create a fork of [``symfony/symfony-standard``](https://github.com/symfony/symfony-standard) to illustrate this issue please?

And of course, happy new year! :smile:

[2016-01-02 14:26] kptLucek commented on #1298
Can be closed, someone touched my server's config, backup solved the problem.

Thanks @Ener-Getick for support :)

[2016-01-02 14:34] Ener-Getick commented on #1298
You're welcome :-)

[2016-01-02 14:34] #1298 closed

[2016-01-03 18:27] Ma27 commented on #1121
I'd add a new configuration parameter that disables the extension if the headers are not correct:

[code]

if you'd be fine with that approach, I'd work on it when having time :)

/cc @lsmith77 @Ener-Getick

[2016-01-03 21:50] xabbuh commented on #1121
Is that a good idea? Wouldn't that make it possible to run CSRF attacks through, for example, AJAX requests?

[2016-01-03 23:23] Ma27 commented on #1121
the reason of that extension is to disable csrf protection on for the api, so if it is not a good idea, the whole approach including the solution of the issue reporter would be a bad idea.

[2016-01-04 06:07] xabbuh commented on #1121
Sure, but disabling it based on headers makes it possible to disable it everywhere from the outside (and not only for the API). This would work quite well for API-only applications but what if my application had an API and a regular user interface?

[2016-01-04 07:48] lsmith77 commented on #1121
It makes sense to disable based on role as long as the auth data is not available to anyone browsing the site.

[2016-01-04 14:33] Ener-Getick commented on #1121
I think that we can create a voter based on a request matcher.

Le lun. 4 janv. 2016 08:48, Lukas Kahwe Smith <notifications@github.com> a
écrit :

[2016-01-04 17:31] Ener-Getick commented on #1121
I see something like that:
[code]

We would need a new configuration section for the ``RequestMatcher`` and it would also be nice to create a ``ChainRequestMatcher`` to avoid having to inject multiple ``RequestMatcherInterface``.

[2016-01-05 09:55] xorgxx opened #1300 "FOSRestExtension.php on line 447"
Hi thank for this bundle.

i have probleme on production : i get this error
[code]
it's impossible to try any command line on server production (gandi) but i get not probleme on local server Xampp on windows 10 64

can you try to help?
thank

[2016-01-05 11:41] xabbuh commented on #1300
It seems that your production server does not run on PHP 5.5 or higher yet (the `class` constant was introduced in PHP 5.5) while your local development environment does.

There's nothing we can do about that in FOSRestBundle (the 2.0 version will not support PHP versions before 5.5 anymore). So I'll close this issue. But please feel free to ask if you still have questions.

[2016-01-05 11:41] #1300 closed

[2016-01-05 11:43] xorgxx commented on #1300
thank. it look correct ver server local PHP Version 5.5.11 and on gandi PHP Version 5.4.45-0+deb7u2

[2016-01-05 16:58] marcobarcaro opened #1301 "Trouble when upgrade from 1.7.7 to 044f4e0"
Hi,
I have two bundle: DemoBundle and ApiBUndle.
I've upgraded SF from 2.7 to 2.8 and FOSRestBundle (dev-master) is not working anymore. I guess the problem is related to view_response_listener. When I use this configuration:

[code]

I got this exception "The controller must return a response" from any controller on DemoBundle.

 DEBUG - Notified event "kernel.view" to listener "FOS\RestBundle\Ev

[2016-01-05 17:02] Ener-Getick commented on #1301
Can you show us the code of one of your controller concerned please?

[2016-01-05 17:12] Ener-Getick commented on #1301
And your full configuration

[2016-01-06 08:10] glasset opened #1302 "Exception was thrown while handling error pages"
when a page return 404 not found, fos rest throw a exception while the view ('twigbundle:exception:error404' for example) is render like is unable to find template.
for info i have overriding the default error templates

`An Exception was thrown while handling: Not Found`

this error is only in prod with `app_dev.php` it's work fine

config.yml
[code]

thanks for your time

[2016-01-06 09:22] marcobarcaro commented on #1301
Hi,
I've found what's going on.

With version 1.7.7 it works, with version 044f4e0 it doesn't work and I get this error when I go to /web/defaults:

"The template should be a string or extend TemplateReference"

 DEBUG - Notified event "kernel.controller" to listener "FOS\RestBundle\EventListener\ViewResponseListener::onKernelController".
CRITICAL - Uncaught PHP Exception InvalidArgumentException:

[2016-01-06 09:43] marcobarcaro commented on #1301
I've made more tests and without @Template annotation it works:

<?php
namespace AppBundle\Controller;

use Sensio\Bundle\FrameworkExtraBundle\Configuration\Route;
use Sensio\Bundle\FrameworkExtraBundle\Configuration\Template;
use Symfony\Bundle\FrameworkBundle\Controller\Controller;
use Symfony\Component\HttpFoundation\Request;

class DefaultController extends Controller
{
    /**
     * @Route("

[2016-01-06 09:48] xabbuh commented on #1301
We have a similar report in https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1288#issuecomment-168173516. So it looks like the issue is not limited to FOSRestBundle 2.0.

[2016-01-06 09:49] xabbuh commented on #1302
Thanks for the bug report @glasset. Can you check if your issue is the same as #1301?

[2016-01-06 09:50] xabbuh commented on #1301
Oh maybe I misunderstood the issue though. @marcobarcaro Did you update both Symfony (from 2.7 to 2.8) and FOSRestBundle (from 1.7 to 2.0-dev)?

[2016-01-06 10:02] marcobarcaro commented on #1301
@xabbuh The problem is not related to SF2.8, but only to FOSRestBundle from 1.7.7 to 044f4e0.

SF dumper place on setTemplate function print:

View.php on line 217:
Template {#346 ▼
  #template: "AppBundle:Default:index.html.twig"
  #engine: "twig"
  #vars: []
  #streamable: false
}

With 1.7.7 dumper says:

 View.php line 217
"AppBundle:Default:index.html.twig"

[2016-01-06 13:13] glasset commented on #1302
i don't think because there is my version:
`fos-rest: 1.7.7`
`symfony: 2.7`

the throw trigger in the render but no message of exception just 'not found' (status text of 404)
https://github.com/FriendsOfSymfony/FOSRestBundle/blob/1.7/View/ViewHandler.php#L390

maybe i miss something in `fos_rest` conf ?

[2016-01-08 06:57] phoenixgao commented on #1301
+1,
update restbundle broke every action that are not restful and using @Template annotation

[2016-01-08 15:32] yceruto opened #1304 "Missing reference for mime type listener link"
https://github.com/FriendsOfSymfony/FOSRestBundle/blame/master/Resources/doc/format_listener.rst#L89

[2016-01-08 16:29] Ener-Getick commented on #1304
Can you create a PR please?

[2016-01-08 17:33] yceruto commented on #1304
@Ener-Getick I'm not sure what the correct URL link. :(

[2016-01-08 17:45] Ener-Getick commented on #1304
I think that we can just add a link to the ``Listener`` documentation:
[code]

[2016-01-08 17:54] yceruto commented on #1304
natively or it needs to be added as documented here or using the
`mime type listener` explained in the Symfony documentation.

``.. _`mime type listener`: http://symfony.com/doc/current/cookbook/request/mime_type.html`` ??

[2016-01-08 18:01] Ener-Getick commented on #1304
This doc is outdated. In ``master`` the mime types need to be added in the ``FOSRestBundle`` documentation. See [here](http://symfony.com/doc/master/bundles/FOSRestBundle/3-listener-support.html#mime-type-listener)

[2016-01-08 18:34] Ener-Getick commented on #1302
Can we have more informations please? It would be easier if we had your entire configuration and the stack of the error.

[2016-01-08 18:48] Ener-Getick commented on #1301
This bug is not related to 044f4e0, it's related to https://github.com/FriendsOfSymfony/FOSRestBundle/commit/b8f80f68273836336374ea717d36cfc56fd0ec7d.
Since this commit, the ``ViewResponseListener`` no longer extends the ``TemplateListener`` and we forgot to re-enable it by default...

[2016-01-08 19:33] #1304 closed

[2016-01-09 09:59] glasset commented on #1302
[code]

website.com/fake-name:
render
[code]

log/prod:
[code]

log/dev

[code]

[2016-01-09 11:54] #1301 closed

[2016-01-09 15:02] Ener-Getick commented on #1302
Are you sure that the error is not triggered in your template?
You can try to update the ``FOSRestBundle`` ``ExceptionListener`` to dump the exception [here](https://github.com/FriendsOfSymfony/FOSRestBundle/blob/1.7/Controller/ExceptionController.php#L125) (we need to improve the log BTW...).

[2016-01-09 19:27] glasset commented on #1302
[code]
it's like he cannot render the pages error .

[2016-01-09 19:35] #1302 closed

[2016-01-09 23:06] Ener-Getick commented on #1302
You're welcome at least you're issue makes us remember that we have to improve the exception controller output.

[2016-01-11 09:23] maennchen opened #1310 "Wrong Url Generated for Rest Controller using body converter"
If I create a Controller with a postAction using a body converter, the wrong url gets generated.

routing.yml:

[code]

Controller:

[code]

The expected route would be "POST /cars", but it is "POST /cars/{car}".

[2016-01-11 20:16] Ener-Getick commented on #1310
Yeah, this is a known issue unfortunately :-/

Would be great to find a solution...

[2016-01-11 20:40] maennchen commented on #1310
I think the easiest way would be to make the params configurable via an Annotation.

[2016-01-11 20:44] Ener-Getick commented on #1310
Yeah but this would mean having to define them for every routes except if we keep the current behaviour when there is no annotation.

[2016-01-11 20:46] maennchen commented on #1310
I think we should use the current behaviour if no annotation is specified.

[2016-01-11 21:00] Ener-Getick commented on #1310
Then :+1:, feel free to create a PR :-)
Otherwise I'll implement it but it may be soon or not...

[2016-01-12 16:27] #1278 closed

[2016-01-12 17:57] JHGitty commented on #1278
Thanks @Ma27 @lsmith77 @Ener-Getick

[2016-01-12 18:39] Ma27 commented on #1278
you're welcome

[2016-01-12 18:47] JHGitty commented on #1126
Fixed and merged in #1299. @paq85 @lsmith77

[2016-01-12 18:52] #1126 closed

[2016-01-15 16:43] shakaran opened #1313 "Argument 1 passed to FOS\RestBundle\Decoder\ContainerDecoderProvider::__construct() must implement interface"
I am using Symfony v2.7.9 and in the last update from composer of friendsofsymfony/rest-bundle I see:

  * - Removing friendsofsymfony/rest-bundle (dev-master 6ebbd6d)
  * - Installing friendsofsymfony/rest-bundle (dev-master ce3f183)

Now I am getting the trace:

    [2016-01-15 11:30:32] request.CRITICAL: Exception thrown when handling an exception (Symfony\Component\Debug\Exception\ContextError

[2016-01-15 16:46] Ener-Getick commented on #1313
@shakaran did you clean your cache? If yes, do you have a service extending ``fos_rest.decoder_provider`` or using ``FOS\RestBundle\Decoder\ContainerDecoderProvider``?

[2016-01-15 17:05] shakaran commented on #1313
Hi @Ener-Getick

I think that I don't have any piece of code directly using the fos_rest.decoder_provider or FOS\RestBundle\Decoder\ContainerDecoderProvider directly, but I don't know if some bundle or dependancy is using it.

As far I see grepping all the folder I see this:

    # grep -rin "fos_rest.decoder_provider" /home/myapp/public/current
    /home/myapp/public/current/app/cache/prod/appPro

[2016-01-15 17:36] shakaran commented on #1313
And reverting to 6ebbd6d the bug seems dissappear.

[2016-01-15 17:44] Ener-Getick commented on #1313
It don't seem to be related to ``FOSRestBundle``...

Any idea @xabbuh ?

[2016-01-16 15:47] xabbuh commented on #1313
This is weird as the error message doesn't match the generated container code (as you can see the first argument is `$this` which clearly is not an array but the actual container).

[2016-01-16 15:48] xabbuh commented on #1313
@shakaran Can you show the line from the generated container that is mentioned in the error message?

[2016-01-20 08:33] ktounet opened #1318 "branch 1.7 is broken"
due to commit e637ce6b7f3763b973b917ba29b00b928193c46a

https://github.com/FriendsOfSymfony/FOSRestBundle/blob/1.7/Routing/Loader/Reader/RestActionReader.php#L355

[code]
This :
[code]

Instead of :
[code]

[2016-01-20 12:11] xabbuh commented on #1318
fixed in #1319

[2016-01-20 12:11] #1318 closed

[2016-01-20 21:25] gmansilla commented on #358
I'm having the same issue.

After reading [this](https://github.com/FriendsOfSymfony/FOSRestBundle/issues/358?_pjax=%23js-repo-pjax-container#issuecomment-58211699) response I went to Exception to controller to check by myself the error code [being returned](https://github.com/FriendsOfSymfony/FOSRestBundle/blob/master/Controller/ExceptionController.php#L89). The error code is a 404, which is wron

[2016-01-20 22:16] Ener-Getick commented on #358
@gmansilla can you provide more information please?

Like the content returned, your configuration and everything which may be useful.

[2016-01-20 22:52] gmansilla commented on #358
Aight, here are the relevant parts

    //routing.yml
    product:
    pattern: /product/{product_id}/{_format}
    defaults: { _controller: AppBundle:Product:get, _format: json }
    requirements:
        _method: GET

    //config.yml
    # FOSRestBundle
    fos_rest:
        allowed_methods_listener: true
        routing_loader:
        default_format: 'json'
    format_listener: true
    body_

[2016-01-21 03:24] ugurerkan opened #1321 "Patch request don't work with file"
Hello,

I have a simple patch action which is update user data with given form type.
The problem is when send a file with patch request, REST Bundle or Symfony can't parse request body.
Getting empty $request file and parameter bags on controller but $request->getContent is correct.
Also I have no problem with post request which is contain files, this is happening only with patch requests.
[code]

[2016-01-21 17:19] Ener-Getick commented on #358
Again, we really need to improve this message...
Can you dump the exception thrown [here](https://github.com/FriendsOfSymfony/FOSRestBundle/blob/master/Controller/ExceptionController.php#L97) please?

[2016-01-21 17:24] Ener-Getick commented on #1321
This behavior is linked to PHP not to ``FOSRestBundle``.
PHP fills ``$_FILES`` only when using ``POST`` and ``PUT``. And this variable is used internally by symfony...
See the [php doc](https://secure.php.net/manual/fr/features.file-upload.post-method.php).

[2016-01-21 17:24] #1321 closed

[2016-01-21 20:53] gmansilla commented on #358
[Here](https://gist.github.com/gmansilla/4ffc2fa12652151fd3ca)

Do you want me to paste the whole thing here? (1254 lines though)

[2016-01-21 21:01] Ener-Getick commented on #358
Did you dump ``$e`` or ``$exception`` ? It doesn't seem to be the right exception :x

[2016-01-21 22:34] gmansilla commented on #358
Oh, ok. You're right. I var_dumped $exception instead of $e.

The thing is, when I var_dump($e) I get a timeout. However, if I check the message (var_dump($e->getMessage()) I get this message

    string(76) "The template "TwigBundle:Exception:exception_full.html.twig" does not exist."

Which makes sense because I am not using Twig. Do you want me to debug something else on $e?

Another thing I'd

[2016-01-25 08:30] robhunt3r opened #1325 "Provided class "FOS\RestBundle\Serializer\JMSSerializerAdapter" is final and cannot be proxied"
Well, I just ran `composer update` and this exception is throwing.

`Provided class "FOS\RestBundle\Serializer\JMSSerializerAdapter" is final and cannot be proxied`

I've seen this exception is being thrown by https://github.com/Ocramius/ProxyManager but I can't go deeper because I don't know that much about this ProxyManager... I know Symfony uses it, but...

So project is dead until this gets fi

[2016-01-25 09:16] phoenixgao commented on #1325
Well, I just ran `composer update` too, and I am also looking at this error.

[2016-01-25 14:29] Ener-Getick commented on #1325
Can you create a pr fixing this issue please? (just remove the final state)

[2016-01-25 18:33] stof commented on #1325
The issue is related to the fact that the adapter classes are final, while the service definitions are marked as lazy.

[2016-01-26 08:20] antkowiakit commented on #1325
I have this same issue. Temporary fix: `"friendsofsymfony/rest-bundle": "dev-master#46f70fa927b4e7aafbab8cf2d381f6f406f699a9"` in your composer.json

[2016-01-26 10:42] robhunt3r commented on #1325
@antkowiakit There's a pull request fixing this.

https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1327

Also, @Ener-Getick could you check if it's working?

@stof So, the PR fix is not valid?

[2016-01-26 19:48] Ener-Getick commented on #1325
@robhunt3r it's the correct fix if we want to let this services lazy and I think there is no enough advantages to let them final instead.

[2016-01-27 03:52] tianchaoc opened #1333 "You have requested a non-existent service "fos_user.doctrine_registry"."
When I modify the “security.yml ” it give me this message, who konws why?

this is my security.yml code:

security:
    encoders:
        FOS\UserBundle\Model\UserInterface:
            algorithm: bcrypt
            cost: 10

    providers:
        fos_user:
            id: fos_user.user_provider.username

    firewalls:
        secured_area:
            pattern: ^/
            anonymous: ~

[2016-01-27 06:42] Ener-Getick commented on #1333
This doesn't seem to be related to FOSRestBundle

[2016-01-27 07:01] #1333 closed

[2016-01-27 14:43] Ener-Getick commented on #1325
Fixed in #1334

[2016-01-27 14:43] #1325 closed

[2016-01-30 22:50] Ener-Getick commented on #1313
ping @shakaran

[2016-01-31 07:44] xabbuh commented on #358
I don't understand why that doesn't lead to an internal server error then as such a response is created and returned in that code path. But to handle this gracefully, you will need to replace the exception controller with a custom implementation if the TwigBundle is disabled (luckily that will be a bit easier in 2.0 thanks to #1288).

[2016-02-01 15:11] shakaran commented on #1313
Sorry for delay, I treat to reproduce today the bug, but it seems that depdencies or updates didn't broke again the code or some codebase was changed, so not sure if it is really fixed or only hidden. Probably you can close it and I will reopen if I see it again.

[2016-02-01 15:15] xabbuh commented on #1313
Thanks for the feedback. Just let use know in case you experience this again.

[2016-02-01 15:15] #1313 closed

[2016-02-02 09:23] #1245 closed

[2016-02-02 09:55] lsmith77 commented on #1266
@JHGitty would you be motivated to work on a PR?

[2016-02-02 09:56] lsmith77 commented on #1310
we will soon release 2.0 stable, so it needs to happen really quickly ..

[2016-02-02 11:01] Ener-Getick commented on #1310
Not necessarily this is bc compatible @lsmith77

[2016-02-02 12:09] maennchen commented on #1310
I don't really have the time to implement this feature.
Also the advantage of using the Rest routing is minimal if we have to configure every url more or less manually...

[2016-02-03 08:58] mpbzh commented on #1313
For anyone debugging his code and getting the same exception: I got it when I tried to run a Symfony 2.8 application with some bundles that required PHP 5.6 on a server that was running PHP 5.4. Updating the server to 5.6 fixed the problem.

[2016-02-03 09:10] shakaran commented on #1313
@mpbzh probably could be my exact workaround (but I didn't know it), since I was using php 5.4 too and now I am using 5.6.11 by the Ubuntu updates.

[2016-02-03 12:40] temp commented on #1133
@paali I just stumbled upon the same problem.
I need the body_converter in one place, but now it wants to convert every Object inside my action signature...

[2016-02-03 12:44] Ener-Getick commented on #1133
@temp a solution is to decorate the service and change its tag with a lower priority.

@lsmith77 I think we should do that in 2.0 too.

[2016-02-03 13:13] temp commented on #1133
I always thought that a @ParamConverter annotation is _needed_ for this. Never used them much, though.

[2016-02-03 20:39] lsmith77 commented on #1220
I guess this can be closed ..

[2016-02-03 20:39] #1220 closed

[2016-02-03 21:44] fiburonsk opened #1340 "Add custom mime_types fails - config loadView passing all mime_type values to MimeTypeListener"
I am trying to add custom mime_types for json and xml in my view configuration per the documentation [http://symfony.com/doc/current/bundles/FOSRestBundle/3-listener-support.html#mime-type-listener](http://symfony.com/doc/current/bundles/FOSRestBundle/3-listener-support.html#mime-type-listener) something like:

    view:
        formats:
            json: true
            xml: true
        mime_ty

[2016-02-04 15:44] Ener-Getick commented on #1340
Good catch :+1: Which version of FOSRestBundle are you using?

[2016-02-04 15:46] Ener-Getick commented on #1340
Ok in fact, that's fixed in https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1317, we just need to merge it

[2016-02-04 15:49] fiburonsk commented on #1340
oh ok.  I was using master for the version 2 stuff in my project.
thanks!

[2016-02-04 15:50] Ener-Getick commented on #1340
I'll work on a patch to have less BC breaks between FOSRestBundle 1.8 and 2.0 on the mime types ;-)

[2016-02-05 09:16] welpons opened #1343 "Compatibility with symfony3"
Hi,
I'm developing an api with Symfony3 and FOSRestBundle and I would like to use the new versioning capabilities added in version 2. I would like to know when is stimated to have this version compatible with symfony3.

Thank you very much

Fellix Pons

[2016-02-05 10:45] Chrysweel opened #1344 "Return view with http code 204, where is content-type ?"
Hello.

I update a last version symfony2.3 and version 1.7.7 FosRestBundle.

But in my project I have test that check

But now a response with httpcode 204 the content-type in header is null...

If I do :

It return json.

did FosRestBundle change the logic to response with code 204?

Only I get error in response with httpcode 204... o_0

Any idea or suggestion ? I read all changelog but I found n

[2016-02-05 11:03] Ener-Getick commented on #1343
It already is.

[2016-02-05 11:03] #1343 closed

[2016-02-05 11:58] Chrysweel commented on #1344
OK, I think I found error.

It is a issue of symfony sorry.

https://github.com/symfony/symfony/blob/75abd1a451d97f5075128ea10b2598b6df41a065/src/Symfony/Component/HttpFoundation/Response.php#L212

Now reponse with code 204 has not content-type.

I close the issue ! sorry again :)

[2016-02-05 11:58] #1344 closed

[2016-02-05 16:28] Ener-Getick commented on #1344
That's weir to have a ``Content-Type`` with an empty response, this is probably why symfony removes this header.

[2016-02-08 13:52] lsmith77 commented on #1237
ping

[2016-02-08 14:06] lsmith77 commented on #1133
@paali this issue seems to be covered in https://github.com/FriendsOfSymfony/FOSRestBundle/issues/1237 ?

aside from this .. in 2.0 its possible to disable the entire events based on routes .. the question is therefore if we should even keep the "stop" rule in 2.0 or remove it entirely?

[2016-02-12 13:24] NinoFloris opened #1345 "AccessDeniedListener tag does not get cleared (wrong tag name)"
Tried to use my own service for the acces_denied_listener config, the FOSRest listener is still registered.

Fix is to change

[code]

into:

[code]

As the AccessDeniedListener service is really a kernel subscriber, not a listener.

Should I submit a pull request?

[2016-02-12 13:49] Ener-Getick commented on #1345
IMO we should update all our listeners to kernel subscribers.
And if you can please submit a pull request ☺

[2016-02-12 15:15] bpolaszek commented on #993
Hello,

I'm running on exactly the same issue here.
I have the same controller serving _HTML_ and _JSON_.

When using a browser and HTML, the form fakes the _DELETE_ method and sends a _POST_ request with an hidden input, thus validating the form. When using Postman or curl with the real _DELETE_ method, the request body is empty, preventing the form from being submitted.

Though I guess Friends o

[2016-02-12 16:32] Ener-Getick commented on #993
@hyyan @bpolaszek could you create a fork of the [``symfony-rest-edition``](https://github.com/gimler/symfony-rest-edition) reproducing this issue ?

[2016-02-15 15:46] hsz commented on #842
@eXtreme

I had similar issue and solved it with `ExceptionWrapperHandler`:

[code]

In my `Controller` I simply return `Form` if it's not valid:

[code]

[2016-02-15 16:01] eXtreme commented on #842
@hsz thanks, I will try it.

[2016-02-15 20:59] xabbuh commented on #993
@hyyan @bpolaszek You need to make sure that the `Content-Type` header is `application/x-www-form-urlencoded`. Otherwise, the HttpFoundation component would not properly populate the request parameters for DELETE requests: https://github.com/symfony/symfony/blob/master/src/Symfony/Component/HttpFoundation/Request.php#L282-L287

[2016-02-15 21:28] xabbuh commented on #1345
see #1348

[2016-02-15 22:18] #1345 closed

[2016-02-15 22:18] Ener-Getick commented on #1345
Fixed in #1348

[2016-02-19 19:14] wesleyvicthor opened #1353 "Change Unauthorized message"
Well I have tried a few approaches to change the Unauthorized message I have been receiving from the server. Basically this messages comes when a password is invalid but the customer email exists.

I need to change that message but can't find a proper way to do that, I have tried using fos_rest.exception config like this:
[code]

I tried to change the ExceptionListener and the authentication provi

[2016-02-21 11:50] lsmith77 commented on #1353
this feature does not make it possible to change the message .. it only makes it configurable if the message should be shown at all and what http status code should be used.

to customize the actual message you need to override the exception controller

[2016-02-23 10:01] yalg opened #1354 "The template should be a string or extend TemplateReference"
Hi,

Error seems appear with SensioFrameworkExtraBundle v3.0.13, and crash all my code.

I hope someone has an idea..

Here is the Stack Trace returned by Symfony

[code]

[2016-02-23 10:48] sh41 commented on #1354
I just upgraded sensio/framework-extra-bundle from v3.0.11 to v3.0.13 and
FOS/RestBundle from 1.7.4 to 1.7.7 and had the same exception for Controller Action with an @Template annotation.

I found that making a configuration change in config.yml got things working again for me, but I must warn that I haven't confirmed whether the change has adversely affected other things.

I changed:
[code]
to:
[

[2016-02-23 11:29] yalg commented on #1354
[code]

This config allows to return data from controller action without adding @View annotation (it will force using view), instead of "view_response_listener : true" which use SensioFrameworkExtraBundle if there is no @View annotation.

http://symfony.com/doc/current/bundles/FOSRestBundle/view_response_listener.html

So, we can resolve this issue by adding @View annotation on each action.

But i

[2016-02-23 11:34] Ener-Getick commented on #1354
Thanks for the report, I'll take a look a it this afternoon.

[2016-02-23 12:20] Ener-Getick commented on #1354
https://github.com/sensiolabs/SensioFrameworkExtraBundle/commit/82b8ad65409c99f693088ecbc09c857f01e3b3fa removed many request attributes so we can't use them anymore ...
We have to refactor the ViewResponseListener to work again.

@lsmith77 @xabbuh I think we should mark ``SensioFrameworkExtraBundle > 3.0.13`` as not supported in 1.7/1.8 and fix its support in 2.0 to not have too much work to do.

[2016-02-23 19:42] xabbuh commented on #1354
@Ener-Getick Dropping support for a patch release version looks like an ugly hack to me. Is this actually a BC break in the SensioFrameworkExtraBundle or did rely on implementation details?

[2016-02-23 19:50] Ener-Getick commented on #1354
I agree but SensioFrameworkExtraBundle introduced a big bc break in a patch...

[2016-02-23 19:51] Ener-Getick commented on #1354
@xabbuh just take a look at https://github.com/sensiolabs/SensioFrameworkExtraBundle/commit/82b8ad65409c99f693088ecbc09c857f01e3b3fa and all the request attributes no longer available.

[2016-02-24 04:05] blamonet commented on #1354
I was running into this as well and noticed my issues went away with the current "dev-master". How close is a v2.0 release cut? :)

[2016-02-24 04:47] estahn opened #1356 "access_denied_listener is using TwigBundle\Controller\ExceptionController"
With `access_denied_listener` set to `true` (for json) it will use the `TwigBundle\Controller\ExceptionController` even though the configuration `templating_formats` for `json` is set to `false`.

Throwing an exception usually works as excepted with the following error message as example:

[code]

Now, using `@Security("has_role('ROLE_FOOBAR')")` it will throw an AccessDenied exception which will

[2016-02-24 10:43] Ener-Getick commented on #1354
@blamonet many parts of the ViewResponseListener are broken with SensioFrameworkExtraBundle 3.0.13 so I advise to use the version 3.0.12 until we fix this issue.
Otherwise, you may have a weird behavior without knowing it.

[2016-02-24 11:38] iltar commented on #1354
The change that probably causes this is [here](https://github.com/sensiolabs/SensioFrameworkExtraBundle/commit/82b8ad65409c99f693088ecbc09c857f01e3b3fa?diff=unified#diff-95cd70265579b17c2c8bf5b9a3037ee6L67). If you can point me to the location in this bundle where it breaks, I can try to submit a patch.

[2016-02-24 12:07] Ener-Getick commented on #1354
@iltar I opened https://github.com/FriendsOfSymfony/FOSRestBundle/issues/1355

[2016-02-24 12:30] iltar commented on #1354
Looks good as far as I can see :+1:

[2016-02-25 00:29] blamonet commented on #1354
@Ener-Getick thank you for the clarification. Things are now working out much better! :+1:

[2016-02-25 15:32] Abam opened #1357 "Interaction between "ExceptionController support" and "Forms errors wrapper""
I was reading the official documentation for [ExceptionController support](http://symfony.com/doc/1.7/bundles/FOSRestBundle/4-exception-controller-support.html) and the [Form and views](http://symfony.com/doc/1.7/bundles/FOSRestBundle/2-the-view-layer.html#forms-and-views) sections and it got a little bit confused.

I dig into the code and found out that the `fos_rest.exception_handler` and the `f

[2016-02-25 18:24] Ener-Getick commented on #1357
Well IMO we should not keep this wrapper and instead let the serializer normalizes the data.
@lsmith77 Why was this created in first place ?

[2016-02-25 21:44] Abam commented on #1357
On my understanding, this wrapper helps in formatting all exceptions and form validations errors  in the same format (code, message, errors).

[2016-02-25 21:59] Ener-Getick commented on #1357
Yeah but serializing an array would be the same.
BTW it would be clearly more powerful to serialize exceptions instead of only strings representing them (we would be able to have complex responses based on the exception fields).

[2016-02-25 22:22] Abam commented on #1357
If you use a custom wrapper, the wrap method is called with an array built by the ExceptionController;
I've found no documentation for the expected array passed to wrap method and the one about ExceptionController is IMO not complete at all.
I spent most of my time exploring the source code and I have no idea if It is safe to relay on it.
[code]

[2016-02-25 22:44] Ener-Getick commented on #1357
Yeah you're right didn't see that from this point of view.
Well you can rely on this array in 1.7/1.8 but this might change in 2.0 (not sure at all because we want to release it soon...).

For your initial issue you can our services as you want (see [the symfony doc](https://symfony.com/doc/current/cookbook/bundles/override.html#services-configuration))

[2016-02-26 06:20] Abam commented on #1357
With the 2.0, I could be possible (wrapper is injected as a dependency) but unfortunately, as of 1.7 and 1.8, the same service is fetched by the [ExceptionHandler](https://github.com/FriendsOfSymfony/FOSRestBundle/blob/1.8/Controller/ExceptionController.php#L63) and the [ViewHandler](https://github.com/FriendsOfSymfony/FOSRestBundle/blob/1.7/View/ViewHandler.php#L527) directly from the container,

[2016-02-26 10:29] #1353 closed

[2016-02-26 11:09] Ener-Getick commented on #1357
At worst if you really want to have two different behaviors you can check if the errors field is empty (exception controller) or not (view handler) in your exception wrapper.

I think the comment was there for when this bundle only supported the jms serializer to advise that the exception wrapper is useless when using deserialization.

[2016-02-26 12:32] Abam commented on #1357
Thanks for the tips !
This issue can be closed.

[2016-02-26 12:34] #1357 closed

[2016-02-26 19:53] Ener-Getick commented on #1357
Would [this](https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1358) be better ?

[2016-02-26 19:54] Ener-Getick commented on #1353
Can you take a look at [this](https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1358) and tell me if this is enough to solve your issue please ?

[2016-02-26 20:05] wesleyvicthor commented on #1353
@Ener-Getick yup, this looks good, when I get back to that I will give a try. btw your point with the template engine makes sense, apparently.

[2016-02-26 20:17] Ener-Getick commented on #1353
@wesleyvicthor ok thanks, I'll wait for more feedbacks and maybe this will be included in 2.0 ☺

[2016-02-29 19:18] h00dstoker commented on #358
obs: The name of route(s) should to be unique.

[2016-02-29 19:33] gmansilla commented on #358
If anyone has the same issue in the future, this is what I did:

I created a custom Exception controller that extends this bundle's controller and then override the showAction method.

    namespace AppBundle\Controller;

    use Symfony\Component\HttpFoundation\Request;
    use Symfony\Component\HttpFoundation\Response;
    use Symfony\Component\HttpKernel\Log\DebugLoggerInterface;

    class Exc

[2016-02-29 22:54] #358 closed

[2016-03-01 21:48] lsmith77 commented on #1356
An uncaught exception should always go to the configured exception handler .. if you enable the FOSRestBundle exception handler, than its also to be expected that it handles this exception. But if you do not enable the FOSRestBundle exception controller .. it will use the one from Twig if that is enabled.

So the solution is enable the FOSRestBundle exception controller.

[2016-03-01 22:18] Ener-Getick commented on #1356
BTW @lsmith77 why does the AccessDeniedListener extend the twig ExceptionListener ?
It could only change the event exception and let the other listeners configured render the response right ?

[2016-03-02 07:51] lsmith77 commented on #1356
not sure ..

[2016-03-03 10:08] estahn commented on #1356
@lsmith77 You're saying i haven't configured the FOSRestBundle exception handler and need to do this as well? I will give it a try and report back. Thanks for the hint.

[2016-03-03 10:35] jbenezech opened #1361 "Mandatory "Default" Serializer group in config"
I just spent a few hours trying to understand why the serialization was always returning an empty json, so although I am not sure if this is a lack of documentation or a bug, I'd figure I'll open this issue for others to find.

I'm using FOSRestBundle 1.8 and JMSSerializationBundle on master.
If there is no groups defined in the configuration for the serializer, all properties will be excluded fro

[2016-03-03 15:33] Ener-Getick commented on #1361
Could you create a PR containing a test reproducing your issue or a fork of ``symfony/standard-edition`` please?

[2016-03-03 16:30] #1237 closed

[2016-03-03 16:34] stof commented on #1354
@xabbuh the code of the bundle clearly relied on the internal implementation details IMO

[2016-03-03 16:43] Ener-Getick commented on #1354
@stof @xabbuh can you take a look at https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1355 and #1362 please?

[2016-03-03 17:30] Ener-Getick commented on #1356
https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1363 should fix your issue

[2016-03-03 17:43] Ener-Getick commented on #1340
Fixed in #1317

[2016-03-03 17:43] #1340 closed

[2016-03-04 03:12] jbenezech commented on #1361
Can't be able to clone symfony-standard today so can't give you a fork to reproduce the issue.
Proposed fix: https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1365

The issue comes from the XMLFileLoader setting the `fos_rest.serializer.exclusion_strategy.groups` parameter to an empty string in the container.
When the `ViewHandler` service is loaded and the `setExclusionStrategyGroups` called

[2016-03-04 06:57] jbenezech commented on #1361
Finally managed to clone symfony-standard.
Problem reproduced here:
https://github.com/jbenezech/symfony-standard/tree/fos_rest_serialization_issue
Commit:
https://github.com/jbenezech/symfony-standard/commit/7f1dd0d70ff494613182559fe1fe5432533a2bec

[2016-03-04 12:27] javiereguiluz opened #1368 "[doc] Error in versioning.rst"
As reported in http://symfony.com/doc/build_errors:

[code]

[2016-03-04 16:31] Ener-Getick commented on #1368
Should be fixed by https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1369 thank you :-)

[2016-03-04 16:31] #1368 closed

[2016-03-06 02:35] #1361 closed

[2016-03-06 20:09] #1354 closed

[2016-03-06 20:24] Ener-Getick commented on #1356
Fixed by #1363 (master branch).

[2016-03-06 20:24] #1356 closed

[2016-03-06 20:25] Ener-Getick commented on #1111
will be possible with #1358

[2016-03-06 20:25] #1111 closed

[2016-03-06 20:25] Ener-Getick commented on #1098
Removed in #1358

[2016-03-06 20:25] #1098 closed

[2016-03-06 20:26] Ener-Getick commented on #1044
You'll be able to change the bundle output thanks to #1358

[2016-03-06 20:26] #1044 closed

[2016-03-06 20:30] Ener-Getick commented on #842
Should be fixed by #1358

[2016-03-06 20:30] #842 closed

[2016-03-06 20:31] #799 closed

[2016-03-06 20:32] Ener-Getick commented on #796
Fixed by https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1339

[2016-03-06 20:32] #796 closed

[2016-03-06 20:35] Ener-Getick commented on #677
Fixed by #1358

[2016-03-06 20:35] #677 closed

[2016-03-06 20:37] Ener-Getick commented on #672
Should be easy to implement with #1358

[2016-03-06 20:42] Ener-Getick commented on #189
Fixed by https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1339

[2016-03-06 20:42] #189 closed

[2016-03-07 01:09] andreas-glaser commented on #1111
thanks

[2016-03-07 01:29] peshi opened #1372 "TwigExceptionController"
Due to recent exception wrapper changes, this emerged.
[code]

[2016-03-07 08:35] lsmith77 commented on #1372
I assume this is on 1.8 beta1?

[2016-03-07 08:53] Ener-Getick commented on #1372
No @lsmith77 this is on 2.0.0-BETA1

[2016-03-07 15:52] shakly commented on #1372
If it can help you, i have the same issue when i get a NotFoundHttpException or MethodNotAllowedHttpException

[2016-03-07 17:48] Ener-Getick commented on #1372
Fix in #1374 thank you !

[2016-03-07 17:48] #1372 closed

[2016-03-07 18:10] shakly opened #1375 "Error on TwigExceptionController"
Since  #1372 / #1374 , i have this issue when i get a NotFoundHttpException or MethodNotAllowedHttpException
[code]

[2016-03-07 18:14] Ener-Getick commented on #1375
We should really test this class... and I should look a bit more to my PR before merging it...
Thank you, I'll search how to fix it :-)

[2016-03-07 18:38] Ener-Getick commented on #1375
Can you take a look at https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1376 please?

[2016-03-08 13:38] aguidis opened #1377 "Configuration for loading route annotations from a directory"
Since this merged [PR](https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1339/files) we should be able to load all route annotations in a folder.

I tried this syntax :

[code]

But I still have this error message :

I fetched the version with the tag "2.0.0-BETA1"

[code]
And I checked if I had the class ``FOS\RestBundle\Routing\Loader\DirectoryRouteLoader`` and it's the case so I should not

[2016-03-08 13:52] Ener-Getick commented on #1377
The short syntax is not supported yet, you have to use the full directory path.

[2016-03-08 14:06] aguidis commented on #1377
[code]

[code]

![image](https://cloud.githubusercontent.com/assets/1856652/13603676/2d054b1c-e53f-11e5-96f8-9ccd67696d12.png)

but I have this message :

[2016-03-08 14:08] xabbuh commented on #1377
This looks like a bug to me (I can confirm that this is not working as expected).

[2016-03-08 14:23] aguidis commented on #1377
I never go into ``DirectoryRouteLoader`` class :s

[2016-03-08 16:23] #1375 closed

[2016-03-08 16:44] Ener-Getick commented on #1377
The right syntax should be ``%kernel.root_dir%/../src/AppBundle/Controller``.
It wouldn't be so hard to support the short syntax but I think we have to focus on the bugs of the 2.0 before introducing new features.

And in fact, this is not a bug, the syntax you use is not supported for the directories so another route loader (the ``RestRouteLoader`` which normally loads classes) tries to load your

[2016-03-08 18:27] xabbuh commented on #1377
The thing is that this is not really usable when you have a bundle that is supposed to be reused where you do not no anything about the directory structure of the application this bundle is used in.

[2016-03-08 18:33] Ener-Getick commented on #1377
Then do you want to add the support of the short syntax in the 2.0 ?

[2016-03-08 18:37] xabbuh commented on #1377
Imo we should do that. Otherwise the feature feels incomplete. To be honest, I thought that we already implemented it that way. But apparently I didn't and I even did not think about adding according tests. :(

[2016-03-09 11:34] AlbertSabate opened #1379 "Exception_wrapper_handler under "fos_rest.user" not working"
Hi,  my problem is, that since commit: dev-master#05330bab029201c6a976da392f46a59ccb7d58b5 I have the next error:
[Symfony\Component\Config\Definition\Exception\InvalidConfigurationException]
    Unrecognized option "exception_wrapper_handler" under "fos_rest.view"

At commit dev-master#6744a48c4552285da42d1541b56351c65603ddf7 works correctly

I use view.exception_wrapper_handler to configure my e

[2016-03-09 11:43] Ener-Getick commented on #1379
@AlbertSabate this commit replaces the ExceptionHandler by normalizers so it do not longer exist.

See https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1358

[2016-03-09 11:44] #1379 closed

[2016-03-09 20:51] howardem opened #1381 "Warning: ReflectionObject::__construct() expects parameter 1 to be object, null given"
Hello,

I'm building a REST API layer using Symfony 2.8 and FOS Rest version 2.0.0-BETA2. Every time I send a request to the API I get a 500 error:

[code]
This the resource I'm requesting. Traced the error and when the response is being dispatched it seems like the bundle implementation loses the information about the controller. This was working perfectly until Friday. At that time I was using F

[2016-03-09 20:58] Ener-Getick commented on #1381
Did you disable the SensioExtraFrameworkBundle ``@Template`` annotation ?
If yes, you have to enable it.

[2016-03-09 21:01] howardem commented on #1381
I disabled the SensioExtraFrameworkBundle routing annotation, not the @Template as far as I know:
[code]

[2016-03-09 22:04] howardem commented on #1381
Thank you, for your answer!!

[2016-03-09 22:18] #1381 closed

[2016-03-09 22:19] Ener-Getick commented on #1381
Just to inform you, you're doing the opposite of what you want, you disable ``@Template`` and enable ``@Route``.

[2016-03-09 22:29] howardem commented on #1381
I realized the configuration was wrong when I looked into the documentation. Probably I changed it following the steps of this video https://youtu.be/MQDkeuHluhM.

[2016-03-10 13:21] jovobe commented on #1377
I don't think the problem is the short syntax. The Loader does not even react to a folder path properly, even if the full path (%kernel.root_dir%/../src/AppBundle/Controller) is used. Can You confirm this @aguidis?

[2016-03-10 14:19] LeniA1 opened #1384 "private functions in controller"
in the aim to be able to override the controller, the methods ThreadController::getValidCommentParent and ThreadController::getViewHandler should be protected and not private. Otherwise you need ti declare it again.

I hope i posted in the right section, let me know if it's the wrong one :)

[2016-03-10 15:07] Ener-Getick commented on #1384
You're not in the right bundle. Post your issue in [``FOSCommentBundle``](https://github.com/FriendsOfSymfony/FOSCommentBundle).

[2016-03-10 15:07] #1384 closed

[2016-03-10 15:14] xabbuh commented on #1377
@aguidis @jovobe Can you both check if the changes in #1385 solve the issue for you? It adds support for the `@BundleName` notation (not sure if we should also fix it for the absolute path notation when DI parameters are used).

[2016-03-10 15:24] jovobe commented on #1377
Yes, it does. Thanks!

[2016-03-10 16:53] jovobe opened #1386 "@Version() annotation is ignored, when method has no @Route annotation"
When a controller is annotated with a version (like in the docs: http://symfony.com/doc/master/bundles/FOSRestBundle/versioning.html#how-to-match-a-specific-version-in-my-routing) the version condition is only added to the route for methods, which are annotated with @Route.
I think this is the piece of code which should be fixed (FOS\RestBundle\Routing\Loader\Reader\RestActionReader line: ~295):
!

[2016-03-10 18:34] Ener-Getick commented on #1386
Thank you for the report, could you create a patch to fix this and add a test to avoid regressions please?

[2016-03-12 18:33] Ener-Getick commented on #1133
@lsmith77 I guess we should keep it for now as we can't disable a specific listener.

[2016-03-14 10:14] NadaBen opened #1391 ""fos_rest.serializer" must implement FOS\RestBundle\Serializer\Serializer (instance of "JMS\Serializer\Serializer" given)"
Hello,
after integration of FOSUserBundle and JMSSerializerBundle, i aded ``new FOS\RestBundle\FOSRestBundle(), new JMS\SerializerBundle\JMSSerializerBundle()`` in appKernel.php, but this error still appears

[code]

[2016-03-14 10:23] Alex-D opened #1392 "How can I disable lazy loading?"
I have optimized my requests and the result is OK but FOSRestBundle call JMSSerializer with lazy loading by default.

There is any option to change that?

I have found that: https://github.com/FriendsOfSymfony/FOSRestBundle/blob/master/Resources/config/serializer.xml#L12 but I do know how to change that from my config file.

I do not want use annotations and groups in my models because I've a lot

[2016-03-14 10:27] xabbuh commented on #1392
The config file you are pointing to is about lazily loading services. As long as you do not use the `ocramius/proxy-manager` package, Symfony won't lazy load services.

However, I am not sure if that is actually what you are talking about. Can you clarify a bit more what happens and what you did instead?

[2016-03-14 10:29] xabbuh commented on #1391
Which version of FOSRestBundle do you use? Did you try to use your own serializer? Can you please show your FOSRest related configuration?

[2016-03-14 10:33] Alex-D commented on #1392
OK, so this is not about my problem.

In my project, when I do a find for example, Doctrine get the right result as I want: no associations are loaded by default. But when I return that result object in a REST method, FOSRestBundle call JMSSerializer (that is OK) but the serializer hydrate all associations, I don't want that. I just want the object serialized without any additionnal loading.

[2016-03-14 10:35] NadaBen commented on #1391
I downloaded the fosrestbundle from github since four days,  configuration.php of my FosRest
<?php

/*
 * This file is part of the FOSRestBundle package.
 *
 * (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

namespace FOS\RestBundle\DependencyInjection;

[2016-03-14 10:37] xabbuh commented on #1392
I guess the only way to prevent that is to configure a group that does not contain the properties that are not initialised. This way, the serializer should try to retrieve them which shouldn't trigger initialisation in Doctrine.

[2016-03-14 10:37] NadaBen commented on #1391
my config.yml is as follow

imports:
    - { resource: parameters.yml }
    - { resource: security.yml }

framework:
    #esi:             ~
    #translator:      { fallback: "%locale%" }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_anno

[2016-03-14 10:40] Alex-D commented on #1392
Have you got any documentation/example of that?

I don't see any mention of "Group" in documention which do that :/

Thanks for your help!

[2016-03-14 10:44] xabbuh commented on #1392
Basically this is described on http://jmsyst.com/libs/serializer/master/cookbook/exclusion_strategies#creating-different-views-of-your-objects. That's the part to configure groups for the serializer. And inside FOSRestBundle you can use the `ViewResponseListener` to configure which groups actually should be used when serializing: http://symfony.com/doc/master/bundles/FOSRestBundle/view_response_li

[2016-03-14 17:18] Ener-Getick commented on #1391
@NadaBen could you answer this questions too please?

[2016-03-14 17:18] Ener-Getick commented on #1392
I guess we can close this issue ?

[2016-03-14 17:27] Alex-D commented on #1392
I've search all day long, there is no solution. And it's so sad.

I've used `getArrayResult()` in my repositories to get an array and do not pass through the Serializer crazy loading.

You can close if you think it's not a problem. I think it's a problem: You can't base your response on object without lazy load a lot of things. If I use annotations, lazy load is limited, but it use `n` or `n²` req

[2016-03-14 17:30] Ener-Getick commented on #1392
Well I think that's a problem but it doesn't seem to be related to FOSRestBundle which doesn't contain any logic about serializing. Except if I misunderstood your problem ?

[2016-03-14 17:30] Alex-D commented on #1392
I think it's from JMSSerializer in fact.

[2016-03-14 17:34] Ener-Getick commented on #1392
@Alex-D I think the best solution to solve your problem is to ask the question on stack overflow (the jms serializer repository isn't too much active...).
I do not know the JMS serializer very well so I can't help you...

[2016-03-14 18:23] Alex-D commented on #1392
The SymfonyFramework Serializer seems do the same, except it throws circular error. Idk if it's a bug from FOSRestBundle in this case.

[2016-03-14 23:14] bblue opened #1393 "Reserve HATEOAS keywords for auto-route generation"
I suggest to reserve/explicitly create routes for the HATEOAS keywords ([new, edit, remove](http://symfony.com/doc/master/bundles/FOSRestBundle/5-automatic-route-generation_single-restful-controller.html#conventional-actions)) to ensure the routes will work.

i.e. if newPageAction() is implemented _after_ getPageAction() in the controller used as the resource for automatic route generation, then t

[2016-03-15 07:40] Ener-Getick commented on #1393
:+1: I think we can safely add this as a bug fix

[2016-03-15 08:02] xabbuh commented on #1392
I don't see what we can do in FOSRestBundle here. We just configure the chosen serializer and then let that tool do its job. Though if you can show as an example about how you are able to configure the serializer outside FOSRestBundle that is not possible when using the bundle, we can reconsider that.

As a last resort, by the way, you can create your own serializer if none of the available ones m

[2016-03-15 08:02] #1392 closed

[2016-03-15 08:45] xabbuh commented on #1393
I absolutely agree. This looks like one of the WTF moments that we should definitely avoid.

[2016-03-15 08:54] xabbuh commented on #1133
Maybe we can extend the zone concept in 2.1 to make it possible to only disable some of the listeners. Then we could indeed entirely remove the `stop` rule. What do you think?

[2016-03-15 15:25] Soullivaneuh commented on #1238
`DoctrineObjectConstructor` is part of `jms/serializer` package. Using FOSRest information on this object can not be possible here.

[2016-03-15 15:27] Soullivaneuh commented on #1238
But I :+1: The request. Actually I have to do this:

[code]

Two parameters and manual copy, that is overkill.

Would be greate to have a system that will merge submitted data with the retrieved object automatically.

Any idea and/or ETA on this?

[2016-03-15 17:14] #1377 closed

[2016-03-16 23:19] merk opened #1395 "Template guessing no longer works with @View"
#1355 introduced major changes to the ViewResponseListener, but using @Rest\View will no longer guess the template name if one is not provided.

It seems to me like we're duplicating quite a bit of logic with the SensioFrameworkExtraBundle's TemplateListener and digging further that using these annotations for their 'magic' seems to be very slow: https://github.com/symfony/symfony/pull/17933

It s

[2016-03-17 11:19] AlexandreHagen opened #1396 "Friendsofsymfony/rest-bundle 1.7.8 conflicts with sensio/framework-extra-bundle[v3.0.14]."
I can update to 1.7.8. When I do a ```composer update``` I got that:
[code]

[2016-03-17 11:21] AlexandreHagen commented on #1396
Maybe we juste need to update the composer.json file to support sensio/framework-extra-bundle 3.0.14 ?

[2016-03-17 12:24] Ener-Getick commented on #1396
If you want to upgrade SensioFrameworkExtraBundle you have to use the master branch of the FOSRestBundle.
You can also remove your vendor folder and run composer again.

[2016-03-17 12:31] AlexandreHagen commented on #1396
OK thanks for your help I have my response. I with waiting the 2.0 stable release.

[2016-03-17 12:31] #1396 closed

[2016-03-17 16:55] DavidGarciaCat opened #1397 "Use FOSRestBundle as Symfony Services instead of extend from Controller"
Hey there,

I have been checking your documentation but (for now) I cannot see an easy way to use the FOSRestBundle on my Controllers using Symfony Services, so I would like to know if you have added this option or maybe if you have planed to add it on next releases.

I would like to use FOSRestBundle using my API Controllers as services, like:
[code]
...instead of...
[code]

Is that possible?

Th

[2016-03-17 17:45] stof commented on #1397
Use the service id instead of the class name when importing the rest routing resource for this controller, and it will work.

[2016-03-17 17:45] alsar commented on #1397
Yes, it is possible. You define your controllers as it is stated in the Symfony docs: https://symfony.com/doc/current/cookbook/controller/service.html

The only additional thing you have to do, is that you have to define the service id of the controller in the FOS Route annotation.

Example:
[code]

[2016-03-17 17:52] stof commented on #1397
yeah, both ways are actually supported

[2016-03-17 17:59] DavidGarciaCat commented on #1397
Hello guys,

Thanks for your comments.
I am going to try this immediately.

Given these solutions, I think we can close the issue.

Thanks for your help!

[2016-03-17 17:59] #1397 closed

[2016-03-17 18:05] araines commented on #1391
Also had this problem when upgrading to 2.0-BETA2, using my own custom serializer.

**config.yml**

[code]

**services.yml**

[code]

[2016-03-17 18:13] xabbuh commented on #1391
`FOS\RestBundle\Serializer\Serializer` is just an interface. You cannot use it as the class name in your DI configuration. Do you have your own custom serializer class and if so how does it look like? What exactly do you have to customise in the serialisation process?

[2016-03-17 18:17] araines commented on #1391
@xabbuh: Ah I just realised this and was about to respond again!  Teach me to read what I'm doing before commenting so quickly.

Basically all I want to be able to do is what I was doing in 1.7 which is specifying the Symfony normalizers it picks from, which I used to do like this:

[code]

But with that configuration I get:

[code]

Now I understand that the Symfony Serializer isn't going to impl

[2016-03-17 18:20] xabbuh commented on #1391
@araines We have the [SymfonySerializerAdapter](https://github.com/FriendsOfSymfony/FOSRestBundle/blob/master/Serializer/SymfonySerializerAdapter.php) which is responsible to build the bridge between our interface and the Symfony Serializer component (there is a similar adapter for the JMSSerializer). I hope this helps you achieving what you are aiming for. But feel free to ask further questions i

[2016-03-17 18:21] Ener-Getick commented on #1391
Why don't you let the framework bundle configure symfony the serializer?
You would be able then to use the serializer tags to set normalizers and encoders and FOSRestBundle would configure it automatically.

[2016-03-17 18:27] araines commented on #1391
@Ener-Getick that sounds like exactly what I'm trying to achieve, but I'm a little unclear about how exactly to achieve it.  I've got it working for now like this:

**config.yml**
[code]

**services.yml**
[code]

But it does feel like I'm jumping around a fair bit to do something which can probably be achieved in a more simple way.

[2016-03-17 20:18] Ener-Getick commented on #1391
Well you can use the framework bundle tags instead of having your own serializer service:
[code]
[code]

[2016-03-17 20:27] #1391 closed

[2016-03-17 20:44] Ener-Getick commented on #1221
What output do you have ? [This](https://github.com/FriendsOfSymfony/FOSRestBundle/blob/master/EventListener/ParamFetcherListener.php#L62-L64) should make it work...

[2016-03-17 20:48] Ener-Getick commented on #774
This was fixed in https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1240

[2016-03-17 20:48] #774 closed

[2016-03-17 21:02] Ener-Getick commented on #1395
Status: reviewed

We have to do something here ... but submitting a PR to SensioExtraFrameworkBundle should be better than copy-pasting more logic in FOSRestBundle...

[2016-03-21 18:04] araines opened #1399 "Custom MIME type and versioning cause failures"
FOSRestBundle 2.0 Beta 2
Symfony 2.7

I'm trying to implement a custom MIME type on my API, and require all clients to use it.  This part appears to work fine until I start to try to add versioning.

**config.yml**

[code]

When I send a request, I get a HTTP406 (Not Acceptable) response:

[code]

Individually, both of these features appear to work.  For example, if I change my mime type as follow

[2016-03-21 19:26] Ener-Getick commented on #1399
Hum there are apparently 2 bugs in cause.
The first one is in FOSRestBundle and is fixed by #1400 but the second one is caused by the symfony Request which removes all the parameters from the mime types (see [here](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/HttpFoundation/Request.php#L1349-L1351)).

So until a fix is applied on symfony you have to use this in your config:

[2016-03-21 21:15] vlyagusha commented on #1381
I have the same issue. May you help me?
My config.yml is
`imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }
    - { resource: "@RestBundle/Resources/config/services.yml" }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#applicatio

[2016-03-21 21:20] vlyagusha commented on #1381
I have the same issue using the same Symfony 2.8 and FOS Rest version 2.0.0-BETA2
This is my config.yml

sensio_framework_extra:
    view:   { annotations: false }
    router: { annotations: true }

fos_rest:
    param_fetcher_listener: true
    body_listener: true
    format_listener:
        rules:
            - prefer_extension: false
    routing_loader:
        default_format: json
    view:

[2016-03-21 21:22] Ener-Getick commented on #1381
@vlyagusha the solution is the same you have to enable the SensioFrameworkExtraBundle view annotations.

[2016-03-21 21:35] vlyagusha commented on #1381
When I`m doing it, I`m geting
Unable to find template "".
500 Internal Server Error - InvalidArgumentException
3 linked Exceptions: Twig_Error_Loader » InvalidArgumentException » InvalidArgumentException »
error

[2016-03-21 21:36] howardem commented on #1381
That was what I did and it solved my errors. Remove the
sensio_framework_extra config or just set view: { annotations: true }

On Mon, Mar 21, 2016 at 5:22 PM, Guilhem N <notifications@github.com> wrote:

[2016-03-21 21:46] vlyagusha commented on #1381
It doesnt help me
I do
sensio_framework_extra:
    view:   { annotations: true }
    router: { annotations: true }
but I get the same Unable to find template "" error
That is my controller

namespace RestBundle\Controller;

use FOS\RestBundle\Controller\Annotations\View;
use Symfony\Bundle\FrameworkBundle\Controller\Controller;

class UsersController extends Controller
{
    /**
     * @param $use

[2016-03-22 10:51] Jerome1337 opened #1401 "Decode JSON body in php array"
I'm working on a `PATCH` method and I need to decode the JSON body sent during the request in a PHP array.

I tried to use `json_decode()` in my controller :

[code]

But this return nothing, I don't know why. I tried in a non-Api controller and this is working well.

The body is not empty and contains a JSON object like this one

[code]

How can I convert my JSON body into a PHP array ?

[2016-03-22 11:34] Ener-Getick commented on #1401
Did you try the [body listener](https://symfony.com/doc/current/bundles/FOSRestBundle/body_listener.html) ?

We would more informations about your controller to understand your issue.

[2016-03-22 11:35] Ener-Getick commented on #1381
@vlyagusha this is an issue we didn't fix yet, see https://github.com/FriendsOfSymfony/FOSRestBundle/issues/1395.

[2016-03-22 11:40] vlyagusha commented on #1381
@Ener-Getick Thx. What version you can recommend to use while you fix it? I'm using Symfony 2.8

[2016-03-22 11:50] cedricduffournet commented on #1381
As template guessing is not working anymore in V2, did you try to specify template in @View annotation ?

Something like :

[code]

[2016-03-22 12:12] vlyagusha commented on #1381
@cedricduffournet and I have to create empty UsersBundle:get.html.twig template? Or it's just for fun?

[2016-03-22 12:18] Ener-Getick commented on #1381
@vlyagusha you have to specify your controller manually until we provide a fix.
I'll take a look at it this afternoon.

[2016-03-22 12:26] vlyagusha commented on #1381
@Ener-Getick @cedricduffournet Thx a lot. I'll be waiting for u

[2016-03-22 12:36] jovobe opened #1402 "ExceptionListener ignores zone config"
If the ExceptionListener is enabled (fos_rest.exception.enabled = true) it triggers on every route. Is this the expected behavior or did just someone forget to add something like:
![rest-bundle exceptionlistener php - core - gitrepos afw core 2016-03-22 13-35-21](https://cloud.githubusercontent.com/assets/1265894/13951687/fc776b02-f032-11e5-9ef2-ab3cec9fbf34.png)

[2016-03-22 12:49] Ener-Getick commented on #1402
I guess this was forgotten, WDYT @lsmith77 ?

[2016-03-22 12:58] vlyagusha commented on #1381
@cedricduffournet I'v done this, but it doesn't help me. It renders only content of template instead of JSON `return ['hello' => 'world'];` that I've specified in controller.

[2016-03-22 13:10] cedricduffournet commented on #1381
Okay, better to wait for a fix then

[2016-03-22 13:24] Ener-Getick commented on #1399
See https://github.com/symfony/symfony/pull/18255

[2016-03-22 19:33] vlyagusha commented on #1381
I've solved my problem!))
This is correct config

sensio_framework_extra:
    view:   { annotations: false }
    router: { annotations: true }

fos_rest:
    format_listener:
        rules:
            - { priorities: ['json', 'xml'], fallback_format: json, prefer_extension: false }
    view:
        view_response_listener: true

composer.json
    "require": {
        "php": ">=5.4.0",
        "sy

[2016-03-22 20:16] Ener-Getick commented on #1381
Yeah 1.* still works I thought you were using 2.0 for its new features so I didn't advise you to use it.
Anyway, I opened https://github.com/sensiolabs/SensioFrameworkExtraBundle/pull/409 which fixes this issue.

[2016-03-22 20:17] Ener-Getick commented on #1395
I opened https://github.com/sensiolabs/SensioFrameworkExtraBundle/pull/409

[2016-03-23 04:21] bbtdigitalkaran commented on #1379
Can you please update the documentation on how to customize the error format now? I was relying on `exception_wrapper_handler` previously.

Thanks

[2016-03-23 05:24] Ener-Getick commented on #1379
As said in the documentation you can have examples in our code https://github.com/FriendsOfSymfony/FOSRestBundle/tree/master/Serializer/Normalizer.

[2016-03-23 15:53] araines commented on #1399
@Ener-Getick appreciate the speedy and detailed response :)  Hopefully everything will get sorted at both ends soon!

[2016-03-23 16:34] Soullivaneuh opened #1403 "array_key_exists error for enity POST with ManyToOne relation"
Partially related to #1236.

I have two entities: `IpV6Range` and `IpGroup`.

Each `IpV6Range` has one `IpGroup`.

`IpV6Range` class:

[code]

`IpGroup` class:

[code]

My serializer entities configuration:

[code]

And finally, my REST controller `postAction`:

[code]

If I try an ip range creation using `POST` method with this data:

[code]

I obtain the following error:

[code]

[2016-03-23 20:18] Ener-Getick commented on #1399
@araines thank you for your report, we need people like you to tell us when some features break :-)
https://github.com/symfony/symfony/pull/18255 doesn't contain major changes so this should be merged quickly.

[2016-03-24 08:44] Jerome1337 commented on #1401
No but this will decode every request response I get, no ?

[code]

[2016-03-24 13:54] Jerome1337 commented on #1403
I had the same error, I just added an array in my JSON body like this
[code]

I tried with this too
[code]

In this 2 cases the 500 error is fixed but the values in the response are `null`

[2016-03-24 16:44] Ener-Getick commented on #1401
``$updatedServer`` is type hinted as ``Server`` so it probably isn't a json string...

[2016-03-24 16:46] Ener-Getick commented on #1403
@Soullivaneuh isn't this related to the jms serializer?

[2016-03-24 16:54] Jerome1337 commented on #1401
Yes, I understood this after I answered on this issue.

[2016-03-24 16:54] #1401 closed

[2016-03-24 21:42] Ener-Getick commented on #1164
@makasim You can use [this](https://github.com/sensiolabs/SensioFrameworkExtraBundle/pull/398) to guess templates in an uncommon directory but this can't be fixed in FOSRestBundle as we do not manage the template name guess...

[2016-03-24 21:43] #991 closed

[2016-03-25 16:29] Ener-Getick commented on #1399
Fixed in https://github.com/symfony/symfony/pull/18255, you'll be able to use this fix as soon as patch versions are released ;-)

[2016-03-25 16:29] #1399 closed

[2016-03-25 17:16] Ener-Getick commented on #1395
Fixed in https://github.com/sensiolabs/SensioFrameworkExtraBundle/pull/409. Will be completely fixed as soon as they release a new patch version.

[2016-03-25 17:16] #1395 closed

[2016-03-26 16:26] xabbuh commented on #1402
Yeah, looks like it was forgotten.

@jovobe Would you like to open a pull request?

[2016-03-27 12:35] #1402 closed

[2016-03-27 12:35] Ener-Getick commented on #1402
Fixed in #1406

[2016-03-28 09:57] ihsanudin opened #1408 "[View] Add View Format Constant"
Add view format constant to make it easier

[2016-03-29 08:22] Soullivaneuh commented on #1403
@Ener-Getick Don't know, maybe both. This is the serializer work but maybe this could be fixed with some configuration from your bundle.

BTW, do you have an advice for how to add a relation link on the post body ?

[2016-03-29 19:00] ianfp commented on #1032
Can we reopen this issue? I'm having the same problem. It seems like PHP does not populate the $_POST superglobal for PUT requests.

[2016-03-29 19:01] Ener-Getick commented on #1032
@ianfp this is not related to FOSRestBundle but to php itself.

[2016-03-29 19:03] ianfp commented on #1032
@Ener-Getick Yes, but isn't the purpose of FOSRestBundle to help us do these sorts of things? I realize this issue is a feature request and not a bug.

[2016-03-29 19:08] xabbuh commented on #1032
@ianfp In fact, the content type (not the HTTP method) is important when you build the request (it has to be `application/x-www-form-urlencoded`). And there is nothing we can do about that else as this is a limitation given by PHP.

[2016-03-30 14:27] Ener-Getick commented on #1403
@Soullivaneuh sorry I can't help you, I prefer using the symfony serializer :-/
And I do not use the body converter too much too...
Maybe asking on stack overflow would help you?

[2016-03-30 14:44] Jerome1337 commented on #1403
@Soullivaneuh @Ener-Getick I found this pull request ([https://github.com/schmittjoh/serializer/pull/110](url)) on jms serializer repo. This fix the error but this is not already merge :/

[2016-03-31 13:52] Soullivaneuh commented on #1403
@Ener-Getick Already done: http://stackoverflow.com/q/36205565/1731473

[2016-03-31 14:19] #1408 closed

[2016-04-03 18:25] renan-taranto opened #1412 ""Allowed Http Methods Listener" not working on Symfony 3"
Allow header does not appear on responses using Symfony version 3.03. I have another project running on Symfony version 2.8.1 where the listener works fine.
The config.yml line where I enable it in both projects:
[code]
The headers that cURL outputs not containing the Allow header;
[code]

[2016-04-04 16:26] Ener-Getick commented on #1412
Thanks for the report, but I do not use much this listener.
Could you provide more details please? like checking if the listener is registered/executed on sf 3.1 and if you can detect where the problem is located?

Or you prefer, can you fork the symfony standard edition and reproduce your issue in it to help us debug ?

[2016-04-04 18:50] renan-taranto commented on #1412
Some more details:
-The listener is registered.
-This listener obtains the allowed methods trough the AllowedMethodsRouterLoader class wich iterates (line 73) over Route objects and their $requirements array properties to grab the methods. **I noticed that these Route objects does not have the '_method' key in the $requirements property**.
-Requesting with a not allowed method gives me a 405 statu

[2016-04-05 14:48] renan-taranto commented on #1412
I believe I was able to fix the issue. I will fork and make a pull request as soon as I have time.

[2016-04-05 15:06] Ener-Getick commented on #1412
Nice, I didn't have the time yet to take a deep look at your issue.
If you prefer, you can only describe where the issue is located.

[2016-04-05 20:46] renan-taranto commented on #1412
I tried creating the pull request 3 times but all failed passing the checks for the 2.0 version.
I believe that the problem happens while creating the routes on RestActionReader class.
 Symfony 2 Route class used to add the method requirements trough the setMethods method called by the constructor, this does not happens on Symfony 3.
I was able to fix the issue on FOSRestBundle v1.7 with this addi

[2016-04-06 09:15] NadaBen opened #1417 "Request parameter \"username\" is empty""
Hello
I'm using this code to create a new user,

[code]

It works when i test it with nelmio , but i want to post a new user using a url, post/user?param1=..&param=.. How can i do that please ??

[2016-04-06 11:44] xabbuh commented on #1417
@NadaBen FYI, I have modified your issue to make it readable for anyone trying to help you (note that I didn't have time to look at your issue in detail).

[2016-04-06 11:51] NadaBen commented on #1417
Ok Thank you @xabbuh

[2016-04-06 14:45] Ener-Getick commented on #1417
@NadaBen this is not really an issue with FOSRestBundle, the best would be to ask on StackOverflow (to share the solutions with others).

Anyway, FOSRestBundle doesn't allow to use either query parameters or request parameters so I think the best solution here is to create your own annotation extending ours:

[code]

Then you'll be able to use this annotation in your controller to fetch either fro

[2016-04-06 14:48] NadaBen commented on #1417
Ok thank you i'll test that

[2016-04-06 15:00] Ener-Getick commented on #1412
Actually I don't think that's the right fix, which version of FOSRestBundle do you use ?

[2016-04-06 15:06] renan-taranto commented on #1412
Version 1.7. The fix I mentioned in my last comment worked on FOSRestBundle 1.7 and Symfony 3.

[2016-04-06 15:13] Ener-Getick commented on #1412
Yeah but it triggers deprecations, I'll open a PR ;-)

[2016-04-06 15:26] Jerome1337 opened #1418 "Update one/few fields with patch action ?"
I have made a `PatchAction` without using forms and I am trying to ignore `null`/`default` value

Currently my action look like this

[code]

I set manually all fields I can update. But this method don't working because if I send a request to update only one or few fields with a JSON body like this

[code]

The JSON body will look like this after I send the request

[code]

As you can see above in

[2016-04-06 15:31] Ener-Getick commented on #1412
I opened #1419

[2016-04-06 15:32] renan-taranto commented on #1412
Yeah you are right, like I said it didn't passed the checks. Hope it helps someway.

[2016-04-06 16:12] xabbuh commented on #1418
Imo if you handle the patch request manually, you will need to check on your own if any of the methods of the `$updatedServer` object returns `null` before calling the setter of the `$server` instance.

[2016-04-06 19:14] #1412 closed

[2016-04-06 19:19] Ener-Getick opened #1420 "Fix the AllowedMethodsListener in 2.0"
The AllowedMethodsListener doesn't work at all in 2.0 so we have to adapt #1419 to make it work again.

[2016-04-06 19:22] xabbuh commented on #1420
@Ener-Getick You are right. Thanks for taking care of creating this issue to keep track of it.

[2016-04-06 19:47] Ener-Getick commented on #1420
@xabbuh you're welcome ☺
i'll try to fix this this week, otherwise it will have to wait a bit (i won't be there next week)

I don't know if this is really complicated to do, maybe fixing conflicts will be enough.

[2016-04-06 20:13] xabbuh commented on #1420
Let's see what the tests tell us in #1422.

[2016-04-06 20:44] xabbuh commented on #1420
fixed by #1422

[2016-04-06 20:44] #1420 closed

[2016-04-06 20:51] Ener-Getick commented on #1420
Great, thank you @xabbuh

[2016-04-07 08:00] Jerome1337 commented on #1418
@xabbuh Yes I had this idea too, but I must write >15 condition. This is not really what I want... This can be handled automatiquely ?

[2016-04-07 10:07] xabbuh commented on #1418
Using the Form component is one way to do that. Otherwise you will have to write some custom code that does that in a more elegant way than writing a lot of if statements.

[2016-04-07 13:27] Ovski4 opened #1425 "When setting a default parameter to null, '' is set instead"
With the query param as follow:

[code]

When I format the url as such: **/rest/v0/myroute?param1=**, I expect to get param1 to null in my controller. But I got an empty string instead

It's because of the code at line 268 of ParamFetcher.php

[code]

Is there any way to avoid that? I just would like to understand why this behavior was chosen instead of simply returning a null value. If not possib

[2016-04-07 14:34] Ener-Getick commented on #1425
I guess that's because we don't know if your default value was manually set or not (``null`` is the default value of php).

[2016-04-07 15:02] Ovski4 commented on #1425
Is there a reason it should not be as simple as :

[code]

in that case? If not, I don't understand why.

[2016-04-08 07:01] tarjei opened #1426 "Upgrade path to 2.0"
Hi, how do you see the upgrade path to 2.0?

I've been working on trying to do an upgrade, and for me and my codebase there are two stumbling blocks:
- The switch to Context is not 1:1 with the old JMS api[1], but the two are so similar that I do not see why this is not the case.
- Getting rid of Codes was a nobrainer apart from the fact that FOSCommentBundle supports Symfony 2.3 where the codes a

[2016-04-08 13:03] NadaBen commented on #1417
I tested that, but it gives me the same error equest parameter \"username\" is empty when i try this url http://localhost/N_API/web/app_dev.php/users?username=foufou&email=ff@gmail.com&password=foufou&plainPassword=foufou&company_name=tctc&adress_zip=455&adress_name=blv%20dolez&adress_city=mons&adress_country=belgium

[2016-04-08 21:42] NadaBen opened #1428 "No @QueryParam\/@RequestParam configuration for parameter 'username'"
Hello, please i need your help,
i use a specific annotation to get url in this format ,

[code]

and my controller is as follows
[code]

and it gives me this error
No @QueryParam\/@RequestParam configuration for parameter 'username'

[2016-04-09 18:21] NadaBen opened #1429 "fosrestbundle 2.0"
hello, i want to install fosrestbundle version 2.0, when i add this version in te composer, it does not work

[2016-04-09 18:43] xabbuh commented on #1429
@NadaBen What does that mean? Which exact steps did you do and what happened then?

[2016-04-09 18:49] NadaBen commented on #1429
i try to add fos restbundle in the composer with "friendsofsymfony/rest-bundle": "2.0", or with "friendsofsymfony/rest-bundle": "*", and it work for * but it install 1.7. version , when i add it mannually it show me this error Class 'FOS\RestBundle\FOSRestBundle not found in AppKernel.php

[2016-04-09 19:38] xabbuh commented on #1429
Please note that we do not have a stable release of FOSRestBundle 2.0 yet. You need require a beta version:

[code]

[2016-04-09 20:04] NadaBen commented on #1429
i try it with ~2.0@beta  but
Problem 1
    - Conclusion: don't install symfony/symfony v2.5.12
    - Conclusion: don't install symfony/symfony v2.5.11
    - Conclusion: don't install symfony/symfony v2.5.10
    - Conclusion: don't install symfony/symfony v2.5.9
    - Conclusion: don't install symfony/symfony v2.5.8
    - Conclusion: don't install symfony/symfony v2.5.7
    - Conclusion: don't inst

[2016-04-09 20:55] xabbuh commented on #1429
Well, you need Symfony 2.7 or higher (precisely only some components/bundles are actually required by FOSRestBundle). The new bundle version is not compatible with Symfony 2.5.

[2016-04-09 20:56] NadaBen commented on #1429
Okey i'll install symfony 2.7.. thank you

[2016-04-11 09:13] xabbuh commented on #1428
@NadaBen FYI, I have updated your description to make it more readable.

[2016-04-11 09:27] xabbuh commented on #1428
Are your custom parameters part of the URL parameters or part of the request body?

[2016-04-14 12:59] sgasser opened #1434 "Unrecognized option "exception_handler" under "fos_rest.service""
Hi.

After upgrading from 1.7 to 2.0. I get following error:

```Unrecognized option "exception_handler" under "fos_rest.service".```

This options exists in configuration-reference (2.0): http://symfony.com/doc/master/bundles/FOSRestBundle/configuration-reference.html

I can't find anything in UPGRADING.md.

What I have to do?

Offtopic:
I only upgraded to 2.0beta because I need symfony 2.8 suppo

[2016-04-14 15:01] xabbuh commented on #1434
@sgasser If you do not want to deal with BC breaks right now, you can use 1.8 (which also is in BETA right now) which is compatible with Symfony 2.8.

Nonetheless, we should of course fix the documentation if it is wrong about this.

[2016-04-14 15:02] xabbuh commented on #1434
For the record, this option was removed in #1358.

[2016-04-16 07:06] louiemiranda opened #1435 "Symfony 3"
Hi, Can this still be used on Symfony 3?

Thanks

[2016-04-16 07:18] Ener-Getick commented on #1435
Yeah FOSRestBundle supports symfony 3 since it's 1.7 version.

[2016-04-16 07:18] #1435 closed

[2016-04-16 22:50] #1429 closed

[2016-04-18 15:47] Ener-Getick commented on #1428
This doesn't work in FOSRestBundle 1.7, you have to use FOSRestBundle 2.0 which created the method ``ParamInterface::getValue()``.
BTW the class ``Param`` doesn't exist in 2.0, you have to use ``AbstractScalarParam``.

[2016-04-18 15:47] #1428 closed

[2016-04-19 13:32] boyez-joggin opened #1436 "Fix multiple version for one controller route condition"
As I found out, it seems that having multiple version in one Version annotation for a Controller breaks the routing condition.

I found the condition is generated like this before evaluating to write cache:
[code]

this evaluates to true during runtime for any non empty string and breaks the version limitation.

I corrected the code to generate with _in_ operator like this:
[code]

[2016-04-19 18:56] dmaicher commented on #1386
@Ener-Getick  I created a PR to address the issue: https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1438

[2016-04-19 19:21] dmaicher commented on #1436
How exactly did the annotations your controller look like?

[2016-04-20 12:43] boyez-joggin commented on #1436
My annotations were like this:
![symfony_rest_versions](https://cloud.githubusercontent.com/assets/18553271/14674754/cf6e9542-0705-11e6-8cd8-458c000a44c4.png)

And my final condition in the auto-generated url matcher is that:
![symfony_url_matcher](https://cloud.githubusercontent.com/assets/18553271/14674815/1ea6fb4a-0706-11e6-87ef-5fe27bc5b612.png)

[2016-04-21 01:18] DestefanoHub opened #1439 "FOSRestBundle Security Exception Listener"
I have the security exception listener for the bundle active the way that is shown in the documentation:

access_denied_listener:
       enabled: true
        json: true

The documentation says that this will default return a 403 forbidden status code. It also mentions that a 401 unauthorized status code can be returned. However, it is not clear how to configure the listener to return a 401 status

[2016-04-21 09:21] xabbuh commented on #1439
The status code depends on the concrete exception being thrown (see http://symfony.com/doc/master/bundles/FOSRestBundle/3-listener-support.html#security-exception-listener):

[2016-04-27 14:58] hpatoio opened #1443 "Versioning doesn't work"
I'm on `Symfony 2.3` and I'm using version `1.8` of FOSRestBundle.

I've a custom view handler and I specify the version via custom header

Significant part of `config.yml`

[code]

The problem is that the value of the version is not set for the context.

If I remove the custom view handler everything works. It seems like the problem is in the way `fos_rest.version_listener` is declared. The first

[2016-04-27 17:02] Ener-Getick commented on #1443
Indeed this should be changed :+1:

[2016-04-27 19:04] Ener-Getick commented on #1386
Fixed by https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1438#discussion_r61300067

[2016-04-27 19:05] #1386 closed

[2016-04-27 19:05] Ener-Getick commented on #1436
Fixed by https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1438

[2016-04-27 19:05] #1436 closed

[2016-04-27 19:05] Ener-Getick commented on #1443
Fixed in #1445

[2016-04-27 19:05] #1443 closed

[2016-04-27 19:16] Ener-Getick commented on #1434
Fixed in #1446

[2016-04-27 19:16] #1434 closed

[2016-04-27 19:17] Ener-Getick commented on #1417
Answered in https://github.com/FriendsOfSymfony/FOSRestBundle/issues/1428

[2016-04-27 19:17] #1417 closed

[2016-04-27 19:25] Ener-Getick commented on #1426
I think we should improve our UPGRADING file to describe how to update an existing codebase.

Our new ``Context`` class is not exactly the same as the JMS' one because some methods have unconsistent names such as ``enableMaxDepthExclusionStrategy``, this probably makes sense when we look at the jms serializer internals but for an abstraction class it should not be named that way imo.

For ``Codes`

[2016-05-04 08:39] magnetik commented on #189
I just tested and it seems that it's not working.

I'm trying to load controllers with the following code:

[code]
Firstly `FOS\RestBundle\Routing\Loader\RestRouteLoader` is created/tagged before the `DirectoryRouteLoader` in `routing.xml`, and the `supports` methods does not exclude the case when the resource is a directory.

Secondly it seems that calling `is_dir($resource)` will fail, because `

[2016-05-04 08:43] xabbuh commented on #189
@magnetik Can you try the latest version of the `1.8` or `2.0` branch for this please? We did not tag another beta yet after fixing this bug.

[2016-05-04 08:53] magnetik commented on #189
Ho, indeed it is working now. I was using `~2.0@dev` and I though it was giving me head of the 2.0 branch.

Thanks

[2016-05-04 08:58] xabbuh commented on #189
@magnetik You will then end up with `2.1.x-dev` (admittedly we didn't merge up `2.0` to `master` for some time). You can use the `~2.0.0@dev` constraint instead.

[2016-05-04 10:52] Ener-Getick opened #1457 "Improve ParamFetcherBag performance"
see https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1451

[2016-05-04 11:09] Ener-Getick commented on #189
@magnetik @xabbuh I merged 2.0 into master.

[2016-05-05 07:05] xabbuh commented on #1457
We could use an event listener cleans up the parameter bag when the request is finished.

[2016-05-05 08:21] Ener-Getick commented on #1457
I agree :+1:

[2016-05-06 07:08] #1266 closed

[2016-05-10 22:03] cve opened #1469 "Import two rest resource routing with custom header versioning only works for last added entry"
Hi,

first of all thanks for working on this helpful bundle.

I want to API versioning based on custom accept header, so my conf:

    fos_rest:
        versioning:
            enabled: true
            resolvers:
                custom_header: true
        view:
            view_response_listener:
                force: true
        routing_loader:
            include_format: false
            de

[2016-05-11 07:05] xabbuh commented on #1469
You can use the `@NamePrefix` annotation to prevent the generation of identical route names that would then overlap:

[code]

[2016-05-11 11:04] Ener-Getick commented on #1469
Then I guess this should be closed @xabbuh @cve ?

[2016-05-11 11:05] cve commented on #1469
I will check If that works for 4 hours

[2016-05-11 11:06] Ener-Getick commented on #1469
ok thanks !

[2016-05-11 15:42] cve commented on #1469
It works, thanks.

[2016-05-11 15:42] #1469 closed

[2016-05-16 07:54] xabbuh commented on #672
Closing here as this should now be easy to handle with #1358 being merged.

[2016-05-16 07:54] #672 closed

[2016-05-16 07:55] #1009 closed

[2016-05-17 03:14] mappedinn commented on #1301
:+1:

[2016-05-17 08:52] xabbuh opened #1488 "Decrease the priority of the exception normalizer"
In #1358 we added a new `ExceptionNormalizer` which will be used to normalize exceptions with the Symfony Serializer component. However, one now has to register their own normalizers with a higher priority to make sure that they are executed before our normalizer which is a bit inconvenient. Thus, I suggest that we decrease the priority (let's say -10) of our listeners to make this a bit easier to

[2016-05-17 09:58] Ener-Getick commented on #1488
:+1:

[2016-05-17 15:02] mdriessen commented on #1219
I also have this problem when using the body converter. The error disappears when providing the header Content-Type: application/json in the request.

I'm looking for a way too set JSON as de default content type of the body message, is this possible? As an alternative I would like to send a more readable error message when not providing the Content-Type in the request. What's the best way to impl

[2016-05-17 15:13] Ener-Getick commented on #1219
I don't think that what you want @mdriessen is compliant to HTTP. The request content, if not empty must have a ``Content-Type`` imo.

[2016-05-17 15:19] mdriessen commented on #1219
Well I found a body_listener -> default_format config so I would assume it is possible. But the error still persists even when setting a default so I don't know. #920

[2016-05-17 15:56] Ener-Getick commented on #1219
Apparently the ``body_listener`` uses ``Request::getRequestFormat`` which is weird as it is related to the response...
So I think it conflicts here with the ``format_listener``.

Can you provide me your config pleas?

[2016-05-17 17:08] xabbuh commented on #1488
see #1489

[2016-05-17 17:20] mdriessen commented on #1219
Ofcourse, thanks for looking into this!

The /api/* route is giving me this error when using POST.
[code]

[2016-05-17 17:32] Ener-Getick commented on #1219
Are you using the body converter when the error occurs ?
Can you also copy-paste your controller and your request headers/parameters ?

[2016-05-17 18:05] Ener-Getick commented on #1219
Ok I now understood the issue. It doesn't seem related to FOSRestBundle but to JMSSerializerBundle which doesn't support forms by default.
[The solution](https://github.com/FriendsOfSymfony/FOSRestBundle/issues/1219#issuecomment-164760464) of @acassan looks good to me to fix the initial issue.

And lastly, @mdriessen you pointed the fact that it is not possible to define a default format for the b

[2016-05-18 08:04] mdriessen commented on #1219
I did some debugging of the `BodyListener` and I noticed that my REST Client actually sends `Content-Type: */*` when not explicitly providing one. In the `BodyListener` this results to `Request::getFormat` which returns `null` and the default value is used. All good here it seems.

But further in the request the `AbstractRequestBodyParamConverter::execute` is called which in turn calls `Serializer

[2016-05-18 08:40] mdriessen commented on #1219
I've made a `kernel.request` listener to set the default Content-Type as a workaround, working as expected now. Thanks for your help and I'm looking forward to 2.1, keep up the good work!

[2016-05-18 18:38] angrygreenfrogs opened #1491 "Version annotation not adding route condition for API versioning"
I'm having trouble with getting the @Version annotation to work. It does not seem to be causing the expected route condition to be added.

I've installed the latest bundle 2.0 (commit f4ce3e9ed88b41c449aa45b120d880723e5f75d7)

I'm trying to make use of the API versioning system with the query parameter style "?version=v1".

I have two separate controllers setup for testing, one for v1 and the othe

[2016-05-18 20:53] Ener-Getick commented on #1491
Is your controller loaded with FOSRestBundle ? (``resource: rest``)

[2016-05-18 21:03] Ener-Getick opened #1492 "Allows to define a default format for the body converter"
To be consistent with the body listener

see https://github.com/FriendsOfSymfony/FOSRestBundle/issues/1219#issuecomment-219803248

[2016-05-18 21:08] angrygreenfrogs commented on #1491
Definitely. We're using the rest bundle for just about everything for input, output, etc.

Everything works fine except for the Version annotation not creating the routing configuration

[2016-05-18 21:29] Ener-Getick commented on #1491
I forgot to backport #1438 in the 2.0 branch...
#1493 should fix this, thanks for the report !

[2016-05-18 22:45] angrygreenfrogs commented on #1491
Hi guys,

I've checked out a copy of the CHPICK branch where I see these changes that @Ener-Getick  mentioned have been applied. I double-checked to make sure the version I have is consistent and has them in place, which it does.

However, I still can't get this version annotation to work.

I've cut down my test classes to the bare minimum to try to figure it out, but no matter what, it always jus

[2016-05-19 06:44] xabbuh commented on #1491
@angrygreenfrogs In your last example the generated route names will likely be the same thus the routes generated from both classes overlap. You may want to use the `@NamePrefix` annotation to overcome this.

[2016-05-19 09:33] Quovandius opened #1494 "Twice control-header / control-origin in one request"
Hello,

Sorry for disturbing, i don't know if i could ask my question here. I search a solution since 3 weeks, i have post on stackoverflow, and on nelmioCorsBundle Github.

My problem is when i try to auth a user through my api, the resquest send by my backend are false.
I have twice header :

    Request URL:http://sub.domain.com/app_dev.php/api/login_check
    Request Method:OPTIONS
    Status

[2016-05-19 09:40] angrygreenfrogs commented on #1491
@xabbuh Thanks for the idea, I've given that a try, but to no effect.

However, again if I manually add the routing condition, it works fine.

So for example this works exactly as expected:

[code]

[code]

Calling /api/test?version=v1 outputs "test1" and /api/test?version=v2 outputs "test2"

But of course the whole point is I was hoping for the @Version annotation to take care of adding that rout

[2016-05-19 10:04] angrygreenfrogs commented on #1491
Ah, OK, I think I finally figured this out.

The problem is that @Version is incompatible with manually setting your own routes.

As soon as I removed the `* @Route("/api/test")` that I had set, it works just fine as expected.

@Version was creating a separate duplicate route, but it wasn't updating the one that I had manually created.

I'm not quite sure if that's expected functionality, a bug, o

[2016-05-19 12:03] angrygreenfrogs opened #1495 "Update UPGRADING-2.0 in relation to exception_wrapper_handler having been removed"
UPGRADING-2.0 currently states:

[code]

However, in fact "exception_wrapper_handler" has been removed altogether and replaced with Serializer/Normalizer/ExceptionHandler and ExceptionNormalizer

I haven't totally figured out how to work with those yet, so be nice to add some docs about them as well, but I can definitely see that's what's happened.

[2016-05-19 12:14] angrygreenfrogs opened #1496 "allowBlank and nullable no longer work together as they did in 1.0"
Previously you could specify allowBlank=false and nullable=true, which would account for allowing the user to not specify an API parameter, but if they DO specify the parameter, that parameter cannot be blank.

Example:

[code]

This worked correctly in 1.0 where `/api/call?token=` would throw an error, but `/api/call?` would be fine.

Now in 2.0, however, the above is throwing an exception when y

[2016-05-19 12:21] angrygreenfrogs commented on #1425
This issue is causing me some trouble too.

I'd like to second the suggestion that this can just return $default;

Otherwise there's currently no way you can configure ParamFetcher to return null (which is what I want in my use case), but if you just return $default, then you can configure it to return '' if you want by directly specifying that as the default, so it allows the most flexibility.

[2016-05-19 14:55] Ener-Getick commented on #1491
@angrygreenfrogs This should work for custom routes as long as you only use the ``type: rest`` for your controller.

[2016-05-19 14:58] Ener-Getick commented on #1425
I agree. WDYT @lsmith77 @xabbuh  ?

[2016-05-19 15:02] Ener-Getick commented on #1494
FOSRestBundle doesn't update this header so I don't think it is related

[2016-05-19 15:03] Ener-Getick commented on #1496
Seems related to https://github.com/FriendsOfSymfony/FOSRestBundle/issues/1425

[2016-05-19 15:16] angrygreenfrogs commented on #1496
Definitely in the same area, but this is an additional issue.

Under the covers the problem is that rest bundle is using the Symfony [NotBlank validator](http://symfony.com/doc/current/reference/constraints/NotBlank.html)

NotBlank also returns false if the value is null, so that means it's not really compatible with nullable any more. This must've been handled differently in 1.0 since it used to

[2016-05-19 15:41] Ener-Getick commented on #1495
:+1: Can you tell me if #1497 is clearer please?

[2016-05-19 15:48] angrygreenfrogs commented on #1495
Oh hey nice! thanks! that's a lot better.

[2016-05-19 15:48] #1495 closed

[2016-05-19 21:15] Quovandius commented on #1494
Ok i understand. i hope someone can have an idea for me.

[2016-05-20 10:53] xabbuh commented on #1494
The only tip I can give you is to debug which part of your application is actually adding the header. Though I will close here as it isn't set by FOSRestBundle.

[2016-05-20 10:53] #1494 closed

[2016-05-21 12:08] zim32 opened #1498 "Symfony serializer not working on version >= 1.8"
Trying version 1.8 break symfony serialization. Objects get serialized to [] .

[2016-05-21 14:05] xabbuh commented on #1498
@zim32 Can you provide more information on how you configured your application and if you added some custom code that is involved?

[2016-05-22 08:59] zim32 commented on #1498
No custom code. Just std configuration.

[code]

[code]

[2016-05-22 09:09] zim32 commented on #1498
Forgot to say - symfony version 3

[2016-05-23 09:37] NadaBen opened #1499 "Use fosrestbundle post action in TWIG"
Hello,
I will like to use this post action in a twig,
[code]

I want to upload image using file input in twig, how can i do that please ?

[2016-05-24 22:53] hacfi commented on #921
FYI: Just came across this issue myself and this should work fine (now?) as long as you don’t use the resulting underscore names but the property names of your class instead.

[2016-05-25 20:20] angrygreenfrogs opened #1500 "Add a note to the UPGRADING instructions about using the JMS serializer exception handler"
There's a note already in there about "If you use the Symfony serializer", but it doesn't explain how to do it if you use the JMS serializer.

You guys can probably clean this up a bit, but here's a short example of how to add a JMS serializer exception handler.
1. Create a new ExceptionHandler class as a copy of https://github.com/FriendsOfSymfony/FOSRestBundle/blob/2.0/Serializer/Normalizer/Exce

[2016-05-26 15:55] xabbuh commented on #1425
Sounds reasonable to.

@Ener-Getick As you did that in #1097, do you remember why you did it this way?

[2016-05-26 16:16] Ener-Getick commented on #1425
@xabbuh in fact it was introduced by @Seldaek [here](https://github.com/FriendsOfSymfony/FOSRestBundle/commit/acd557018ef708205a9d9e1bafaa4134f3c431a0#diff-cbcb81f3d1ed1c502df6c810c36b8b00R109).

[2016-05-26 16:18] Ener-Getick commented on #1425
@xabbuh Apparently the reason was bc (see [this comment](https://github.com/FriendsOfSymfony/FOSRestBundle/pull/257#discussion_r1113038)) so we can safely remove it.

[2016-05-26 16:25] xabbuh commented on #1425
Yeah, let's do that and document it in the upgrade document.

[2016-05-26 20:40] araines opened #1501 "Feature Request: Ability to configure default behaviour for strict on ParamFetcher"
At the moment the `strict` option for the ParamFetcher defaults to `false`.  I'd like the ability to alter this default value via the configuration.

[2016-05-27 18:14] #1488 closed

[2016-05-27 19:08] Ener-Getick commented on #1498
This is hard to know what's the issue... could you fork the [symfony rest edition](https://github.com/gimler/symfony-rest-edition) and reproduce the issue inside it to help us please ?

[2016-05-27 19:28] Ener-Getick commented on #1496
Well maybe in that case we can have our own ``NotBlank`` constraint and validator. Could you submit a PR ?

[2016-05-27 19:31] Ener-Getick commented on #1500
Maybe the best thing to do is to add a link to the jms doc ?

[2016-05-27 19:34] Ener-Getick commented on #1500
BTW we should probably add something about the fact that FOSRestBundle change in part the jms serializer behaviour (it allows simple handler inheritance).

[2016-05-28 09:21] Ener-Getick commented on #1501
I'd say the easiest to do that is to create your own annotation ;-)
this looks complicated to do cleanly otherwise

[2016-05-28 14:28] Ener-Getick commented on #1499
You have to use a form:
[code]

[2016-05-28 14:28] #1499 closed

[2016-05-28 14:36] #1221 closed

[2016-05-28 14:38] Ener-Getick commented on #1205
Should be fixed by https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1317

[2016-05-28 14:38] #1205 closed

[2016-05-28 14:41] Ener-Getick commented on #1201
I'm closing this issue as this syntax [is deprecated](https://github.com/symfony/symfony/blob/2.8/src/Symfony/Component/HttpFoundation/ParameterBag.php#L94).

[2016-05-28 14:41] #1201 closed

[2016-05-28 14:43] Ener-Getick commented on #1172
fixed by https://github.com/FriendsOfSymfony/FOSRestBundle/issues/1265

[2016-05-28 14:43] #1172 closed

[2016-05-28 14:44] #1164 closed

[2016-05-28 14:47] Ener-Getick commented on #1086
We can't fix that as our annotations extend the annotations of symfony.

[2016-05-28 14:47] #1086 closed

[2016-05-28 14:50] #993 closed

[2016-05-28 20:28] #1089 closed

[2016-05-29 19:30] 12th opened #1503 "How do I get entity data from the Form Type?"
I would like to use the Form Type to upload the entity data to the client and their further validation when upgrading held in one place.

But when the pass in the view a form with the entity data, the response data itself is not only the name of entities and properties with a blank value.

**How can I get the data from the form?**

**AccountRestController**

[code]

**Profile Form Type**

[code]

[2016-05-30 04:50] #1503 closed

[2016-05-30 17:41] ghanbari opened #1504 "maxDepth exclusion strategy is not work property"
i have 2 issue:
1. I set max depth by `setMaxDepth(3)` method, but it is not working, `@MaxDepth(1)` annotation overwrite this method, this method should ignore annotation, because developer expect 3 level set by method.

2. serializer check max depth after it run query, if i have a entity as:
[code]
in method i get driver by:
[code]
when i hceck profiler, it run another query for driver's cars, a

[2016-05-30 17:56] Ener-Getick commented on #1504
This issue seems related to the JMS serializer not to this bundle.

[2016-05-30 19:52] ghanbari commented on #1504
`View::setSerializationContext()` get one instance of `FOS\\RestBundle\\Context\\ContextInterface`,
why this bundle use another context class?

[2016-05-31 11:25] Ener-Getick commented on #1504
We have our own Context class because we also support the symfony serializer so we needed to abstract the serializers we support.
And I didn't understand your 2nd question... do you have an example ?

[2016-05-31 16:16] ghanbari commented on #1504
@Ener-Getick Update post

[2016-05-31 16:30] Ener-Getick commented on #1504
The ``maxDepth`` attribute enables [the jms max depth checks](https://github.com/FriendsOfSymfony/FOSRestBundle/blob/2.0/Serializer/JMSSerializerAdapter.php#L95), its value doesn't change anything (it does only for the symfony serializer).
I guess you can only use the ``@MaxDepth`` annotation.

[2016-05-31 18:07] ghanbari commented on #1504
@Ener-Getick thanks for help
what is `direction` in method signature?
what do [this code](https://github.com/FriendsOfSymfony/FOSRestBundle/blob/2.0/Serializer/JMSSerializerAdapter.php#L78) ?, do it overwrite annotation?

[2016-05-31 18:08] #1504 closed

[2016-06-01 10:08] JHGitty opened #1507 "Disable 'method_prefix' globally"
Is it possible to disable `method_prefix` globally?
I don't want to set it to `false` on each action.

http://symfony.com/doc/current/bundles/FOSRestBundle/7-manual-route-definition.html#method-name-prefix

[2016-06-01 10:17] JHGitty opened #1508 "Prefix is ignored with annotations"
[code]

[code]

This will result into `/category/{name}` instead of `/api/category/{name}`. Why?

Tested on `2.0.0-BETA3` and latest `dev-master`.

[2016-06-01 10:38] JHGitty opened #1509 "@View() and other annotations should work together"
I cannot use `@View` and route annotations like `@Get` together.

Example: I want to get JSON output on `/api/category/{name}.json` and XML output on `/api/category/{name}.xml`. But I only get a normal response.

My code:

[code]

Btw: It would be much easier if I could just return `test` instead of a Response object.

It doesn't matter if I add `@Rest\View()` there.
If I write `return 'test';` it

[2016-06-01 10:42] JHGitty commented on #1509
This code works fine:
[code]

But it would be much better if I could use `@Rest\View()`.
It would also be nice if I don't need to specify the default for `_format` on each action.

[2016-06-01 10:45] Ener-Getick commented on #1509
@JHGitty did you enable the ``view_response_listener`` ?

With it, you can simply use:
[code]

[2016-06-01 10:48] Ener-Getick commented on #1508
The ``/api`` prefix is managed by symfony. Do you load your routes elsewhere ?

[2016-06-01 10:48] Ener-Getick commented on #1507
This is not possible for now but it could be a great improvement :+1:

[2016-06-01 11:02] JHGitty commented on #1509
Okay, that works fine. Is there any idea how to not always write the `_format` default and automatically add `.{_format}` to the route path?

[2016-06-01 11:03] JHGitty commented on #1508
Yep. So this is the issue. My `routing.yml` file:

[code]

[2016-06-01 11:03] #1508 closed

[2016-06-01 11:46] murilolobato commented on #1086
The solution for this, is to have two folders inside Controller: Web and Api, as suggested on 3:27 at this video https://knpuniversity.com/screencast/symfony-rest/post

[2016-06-01 13:05] JHGitty opened #1510 "Form errors are not the same as in documentation"
I get this on my own form:
[code]

But I've expected something like this:
[code]

This is my code:
[code]

I have this issue on Symfony 3.1 (stable). It does not matter if I use the default Symfony serializer or JMSSerializerBundle. I've tried it on `2.0.0-BETA3` and `dev-master`.

[2016-06-01 13:11] JHGitty commented on #1510
This issue also appears on version `1.7.7`. So I think my code is wrong?

[2016-06-01 13:34] Ener-Getick commented on #1510
can you provide your form as well please?

[2016-06-01 13:37] JHGitty commented on #1510
Of course:
[code]

[2016-06-01 13:42] JHGitty commented on #1510
Here is the same output as XML:
[code]

This is really **not** how it should be.

[2016-06-01 13:53] Ener-Getick commented on #1510
@JHGitty it looks normal to me, the error you specify is related to the entire form (there are more fields than expected), not to the ``name`` field.

[2016-06-01 14:20] JHGitty commented on #1510
You are right. Sorry.

[2016-06-01 14:20] #1510 closed

[2016-06-02 16:43] hshn opened #1511 "Unable to dump configuration via console config:dump"
[code]

[2016-06-13 20:04] xabbuh commented on #1509
@JHGitty Why do you define your route manually at all?

[2016-06-14 11:11] hpatoio opened #1514 "Return form constraints to the client"
I've an endpoint the return a form definition.

[code]
The form validations is dynamic so I would like to add the constraints definition for each field in the response so the client knows which validation add to each field (I have backend validation and I wont remove it. I want this only for a better UX)

I would like to have a response like

[code]

Is this possible ?

[2016-06-14 14:54] lferro9000 opened #1515 "Broken documentation"
http://symfony.com/doc/master/bundles/FOSRestBundle/index.html

States that it is just a simple step:

composer require friendsofsymfony/rest-bundle

Then proceeds with "Just add a line in"

However, none of the stated files (ex. app/AppKernel.php) where created by the previous composer instalation, which can only mean that there are steps missing.

[2016-06-14 20:00] xabbuh commented on #1515
This sounds wird. The AppKernel class is part of the Symfony Standard Edition. How did you initially set up your application?

[2016-06-14 20:09] codereviewvideos opened #1516 "InvalidConfigurationException with exception_wrapper_handler: null"
Hi,

Firstly, thank you to everyone involved for creating, and supporting this bundle. It is awesome.

I'm trying `"friendsofsymfony/rest-bundle": "^2.0@dev",`

Part of my config:

[code]

Which seems inline with the [configuration reference](http://symfony.com/doc/master/bundles/FOSRestBundle/configuration-reference.html).

But with this I get:

[code]

Removing the line from my config resolves t

[2016-06-15 10:53] Ener-Getick commented on #1516
Indeed this option was removed in https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1358.
I propose a fix for the docs in #1517, thanks !

[2016-06-15 11:11] Ener-Getick commented on #1514
Of course, you should take a look at https://github.com/bichotll/FormValidationBundle which provides you a simple way to know which validations apply to a form.
You can transform its output as you want with a normalizer for example and you'll obtain what you want :)

[2016-06-15 15:27] #1516 closed

[2016-06-15 15:29] lsmith77 commented on #1515
@lferro9000 I think you just installed this Bundle .. the documentation assumes without saying it, that you are adding this Bundle to a symfony full stack application.

@xabbuh maybe we should mention this as a pre-requisite

[2016-06-19 14:14] lsmith77 commented on #1511
are you sure the bundle is properly registered in your kernel .. or more importantly that you are running the CLI on the kernel you are assuming it runs against?

[2016-06-19 14:15] lsmith77 commented on #1511
at any rate .. nothing in this Bundle could cause this issue, ie. it would be an issue in the FrameWorkBundle

[2016-06-19 14:16] lsmith77 commented on #1511
aha .. interesting .. so if there is no configuration class .. then it gives this exception ..

[2016-06-19 14:16] #1511 closed

[2016-06-20 10:01] #1514 closed

[2016-06-21 17:07] callistino opened #1521 "Custom Route Order"
I'm need of a custom route ordering/matching for my project and I can't find a way to do so. First I should say that we use singular resources so the pluralize option is set to false. My project uses multi-tenant accounts and a pure json api. An example of the generated routes will describe better my needs and goal.

[code]

As you can see, I have a need to get all orgs via `/company/org` but that

[2016-06-21 17:15] Ener-Getick commented on #1521
This issue was reported [here](https://github.com/FriendsOfSymfony/FOSRestBundle/issues/1393) as well.
For now the only solution you have is to declare the method including keywords in their route before the others.

[2016-06-27 09:18] zajca opened #1522 "ExceptionValueMap always empty"
Hi,
I don't know what can be wrong with my configuration.
I want to show custom error messages, so I set exception.messages like documentation says:
[code]
but when exception occurred no custom message is show.

I debug this a bit and it seems that when ```ExceptionValueMap``` is constructed $map array is empty.

Full config:
[code]

[code]

[2016-06-27 09:45] Ener-Getick commented on #1522
What's the exception thrown ?

[2016-06-27 09:56] zajca commented on #1522
I'm throwing exception in controller like this:
(there is always my custom message)
[code]

and I always get:
[code]
When I debug this, in exception controller there is my message in $templateData, but after serialization it's not.

message will not be show because here: https://github.com/FriendsOfSymfony/FOSRestBundle/blob/2.0/Serializer/Normalizer/AbstractExceptionNormalizer.php#L54 ```resolveE

[2016-06-27 13:59] Soullivaneuh opened #1524 "Unrecognized option "media_type" under "fos_rest.format_listener" since 2.0"
Since upgrading your bundle to v2.0, I get the following error:

[code]

I searched `media_type` on your [UPGRADING-2.0.md](https://github.com/FriendsOfSymfony/FOSRestBundle/blob/2.0/UPGRADING-2.0.md) note, but nothing about that.

My actual configuration:

[code]

Mistake? Forgotten note?

Thanks.

[2016-06-27 14:04] Soullivaneuh commented on #1524
I saw the deprecation message here: https://github.com/FriendsOfSymfony/FOSRestBundle/compare/1.8.0...2.0.0#diff-ffb88a00253e285e14e0d32ef5423cd1L198

But this does not get so much information.

[2016-06-27 16:04] Soullivaneuh commented on #1524
Ok for anyone having the same issue, here is the right config:

[code]

[2016-06-28 06:32] johnico opened #1525 "Custom exception wrapper is not working at all"
the custom exception is not working at all . i tried everything

version : 1.0

[code]

[code]

[2016-06-28 12:22] Ener-Getick commented on #1522
Is your config used in the prod environment or only in the dev env ?
And can you try to debug the bundle extension to check if the configuration is as you expect it in your prod env?

[2016-06-28 12:24] Ener-Getick commented on #1524
Indeed, we forgot this in our UPGRADING file... Thanks !

[2016-06-28 12:32] Ener-Getick commented on #1525
Your ``ExceptionWrapperHandler`` is supposed to return an instance of ``ExceptionWrapper``.
Anyway I advise you to upgrade to 2.0 to be able to use serializer normalizers instead.

[2016-06-28 12:32] #1525 closed

[2016-06-28 12:49] zajca commented on #1522
If I debug bundle extension in both dev and prod config seems to be fine.

![image](https://cloud.githubusercontent.com/assets/180148/16415817/6fcd2002-3d3f-11e6-9b18-b4f908d886cc.png)

but nothing is injected, it looks like DI is not replacing arguments.

[2016-06-28 12:59] Ener-Getick commented on #1522
Could you reproduce your issue in a fork of https://github.com/gimler/symfony-rest-edition please ? For now I have no idea what's the problem here ... :/

[2016-06-28 13:59] zajca commented on #1522
Well I'm screwed, I try do the same on rest-edition upgraded to same packages and result works as expected :(
It must be some bundle doing nasty stuff with listeners.
I debug ```MergeExtensionConfigurationPass``` and after it is arguments for ```fos_rest.exception.messages_map``` right. I cant figure out what could be possibly wrong.

This is cached inside rest-bundle project:
[code]

And this is

[2016-06-28 14:02] Ener-Getick commented on #1522
maybe try to clear the cache ?

[2016-06-28 14:12] zajca commented on #1522
I tried  like million times :( also restart php-fpm service nginx, try to run on php dev-server.
Run on staging server from clear workspace.

[2016-06-28 14:22] Ener-Getick commented on #1522
no idea but that shouldn't be the problem here. I think this a problem of configuration, maybe you forgot to load a config file ?

[2016-06-29 10:57] zajca commented on #1522
Nope config us loaded, I'm using main config.yml, ale if I forget to load config there will empty array on ```MergeExtensionConfigurationPass```.

[2016-06-30 05:58] xabbuh commented on #1522
You can try to disable other bundles you use to see if they influence the configuration.

[2016-06-30 10:07] zajca commented on #1522
I found why this happens after 3 days of debuging.
I had in config.yml this line:
[code]
so loader loaded these services on initial load and after bundles configurations was build it override them with initial configuration.

[2016-06-30 10:07] #1522 closed

[2016-06-30 16:32] callistino commented on #1521
I was able to overcome this issue by generating more routes using a class that overloads the `\FOS\RestBundle\Routing\Loader\RestYamlCollectionLoader:load()` and sorting the routes in an order that fits my needs.

[2016-06-30 16:32] #1521 closed

[2016-06-30 21:18] Chrisp1tv opened #1528 "Can't use container parameter in defaults and requirements of QueryParam annotation"
Hi :) After upgrading FOSRestBundle from 1.7 to 2.0, I still can't use a container parameter in QueryParam annotation. Maybe something wrong in my code ? Thanks :)

[code]

[code]

[code]

[2016-07-01 09:37] roelleor opened #1529 "how to use uri versioning with a controller implementing the ClassResourceInterface?"
It doesn't seem possible to use uri versioning (/v1/users) with a controller implementing the ClassResourceInterface, is that correct? Or am I missing something?
route:

[code]

[2016-07-01 11:16] Ener-Getick commented on #1529
This should works as expected.
At first, you must uncomment the line ``prefix``.
Do you load this controller somewhere else ?

[2016-07-01 11:29] roelleor commented on #1529
Nope, not loading the controller somewhere else.
My config:
[code]

[2016-07-01 11:38] roelleor commented on #1529
to add: it does work well when using the version as a parameter

[2016-07-01 12:04] Ener-Getick commented on #1529
In fact, you don't need the versioning feature of this bundle if you use a path parameter.
What do you mean by not working ? You can't access your  controller ?

[2016-07-01 12:09] roelleor commented on #1529
it gives a "No route found” error
Perhaps you are right that one doesn’t strictly need it. One could just hard code the prefix. It’s not that much work, I’ll just go for that route then.
FYI, this approach of having {version} as a parameter in the path is in the documentation. However, not in combination with the ClassResourceInterface.

[2016-07-05 10:40] Soullivaneuh commented on #1425
Can confirm the issue since upgrading to v2.0.

What is the state of the issue?

[2016-07-05 10:47] lsmith77 commented on #1425
+1 .. that being said, since we did the stable release it is technically a BC break but we can call it a bug fix, since we didn't intend to carry over BC hacks from 1.x

[2016-07-05 13:30] lsmith77 commented on #1524
can someone update the upgrading file and then close this ticket?

[2016-07-06 12:10] lbayerl opened #1532 "Sensio's framework-extra-bundle: outdated dependency with 1.8"
Tried to upgrade FOS Rest from 1.7.7 to 1.8 (to prepare the upgrade to 2.0 as suggested).
One potential issue that I found is that while upgrading with composer update sensio/framework-extra-bundle got downgraded from 3.0.16 to 3.0.12.
Is that some dependency issue with FOS Rest or is it on purpose?

This is the line within composer.json from 1.8:
"sensio/framework-extra-bundle": "~2.0|~3.0,<3.0.1

[2016-07-06 12:26] Ener-Getick commented on #1532
This is not a bug, the 1.x releases of fosrestbundle aren't compatible with sensioframeworkextrabundle 3.0.13 and higher.
To upgrade the sensio bundle, you must upgrade fosrestbundle to 2.0.

[2016-07-06 12:26] #1532 closed

[2016-07-07 03:46] linh4github commented on #808
Thank @bveldhuis. You're absolute right : 'widget' => 'single_text' is important.

[2016-07-07 05:46] mitsurugi opened #1533 "Consider supporting php > 7.0"
It will be worth the support for php 7.0.8 or 7.1 considering that are several environments with that versions of php

[2016-07-07 05:52] xabbuh commented on #1533
All releases of FOSRestBundle can be used on PHP 7. Did you experience any problems?

[2016-07-07 14:43] lbayerl commented on #1532
Thanks @Ener-Getick for making this clear. I am just wondering a bit, because I already had FOS Rest 1.7.7 running with framework-extra 3.0.16. So was this a bug then which was fixed with 1.8? Because I got a downgrade for framework-extra when upgrading from 1.7.7 to 1.8?

[2016-07-07 15:55] stof commented on #1532
@lbayerl the older version of FOSRestBundle was not compatible either, but it was not telling Composer about it

[2016-07-08 08:02] muffe opened #1535 "ParamFetcher can't fetch file arrays"
I've got a REST function, where I have an image upload as a POST parameter, that looks something like this

[code]

I'm uploading an array of images at the "image-data" key with the [] notation, therefore "image-data[]".
If i try to read the POST data with `$request->files->get('image-data')` I get an array of UploadedFile objects.

If I do the same with `$paramFetcher->get('image-data')` it retur

[2016-07-08 09:23] TobiasXy opened #1536 "Not possible to use a custom exclusion strategy with JMSSerializer"
In my project I wrote a custom exclusion strategy for the JMSSerializer.
In version 1.7 I added it like this:

[code]

Now in version 2.0 there is the new (generic) Context class, but it seems there is no way to set a custom exclusion strategy. Also there is apparently no way to hook into the JMSSerializerAdapter, (which is creating the actual SerializationContext of the JMSSerializer) to add the

[2016-07-08 09:31] bblue opened #1537 "Incorrect Content-Type header on PHP errors"
For all exceptions thrown by my application FOSRestBundle will correctly serialize the exception and return my expected format.

However, whenever there is a PHP error, it will always return a Content-Type of `text/html; charset=UTF-8,application/json` or` text/html; charset=UTF-8,text/xml; charset=UTF-8`

The content is still serialized correctly (testet with json and xml), so not big issue, but

[2016-07-08 09:56] bblue commented on #1537
Did a bit more digging, and it appears the requested format is dropped in the subrequest to `fos_rest.exception.twig_controller:showAction`.

I also tried to remove the two rules below, and I then received a Content-Type of `text/html; charset=UTF-8,text/html; charset=UTF-8`

[code]

[2016-07-08 12:57] bblue commented on #1537
Researched a bit more now. Not sure if I am looking in the right place, but throwing it out here anyway.

It appears symfony http foundation might concatenate multiple Content-Type headers. The issue is discussed here: https://github.com/symfony/symfony/issues/16646, but for accept headers. Apparently [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.1) describes multiple same

[2016-07-09 22:27] bblue opened #1538 "Symfony\Component\Security\Http\Firewall\ExceptionListener overrides AccessDeniedListener"
The logic in the `AccessDeniedListener` is effectively overriden by `Symfony\Component\Security\Http\Firewall\ExceptionListener`

The priority of the Symfony listener is lower than that of FOSRest, thus the following method in Symfony's listener overrides the `$event->setException($e);`

[code]

This will trigger a redirect to the login page, and in some cases (my case) this will trigger yet anoth

[2016-07-11 20:49] #1533 closed

[2016-07-11 20:51] Ener-Getick commented on #1536
What about using a new attribute ``exclusion_strategies`` ?

cc @xabbuh

[2016-07-11 20:55] Ener-Getick commented on #1535
We should probably move ``$map`` from ``AbstractScalarParam`` to ``AbstractParam``.
This would need a new test to ensure this works as expected. Can you work on that @muffe ?

[2016-07-14 07:37] muffe commented on #1535
I just have taken a look at what the actual problem is.

The `getConstraints` method of the FileParam Annotation looks like this
[code]
In both cases the validation is obviously failing because we get an array as return value.

I just talked with @xabbuh about two possible ways of fixing this.

1. - my way.

We add a new configuration flag to the FileParam Annotation called `multiple`. If this is

[2016-07-14 16:31] nico-incubiq commented on #1496
I am facing a similar issue.
My requirement is being check when I pass no parameter, although I set nullable=true.
This used to work before and I cannot find any way around this issue...

Here is my param:
`@REST\QueryParam(name="page", nullable=true, strict=true, requirements=@Assert\Range(min="1"), description="The page number")`

[2016-07-15 09:06] lsmith77 opened #1540 "failing tests due to deprecation warnings with 2.8"
https://travis-ci.org/FriendsOfSymfony/FOSRestBundle/jobs/144949899#L765

[2016-07-15 09:10] lsmith77 commented on #1537
Sorry not enough time to dig into this. Previously we also ran into issues with the content types when exceptions happen before the controller is called. That being said, in 2.0 the ExceptionController was significantly refactored .. so which version are you using?

[2016-07-15 13:59] TobiasXy commented on #1536
Exclusion strategies are specific to the JMSSerializer, right?
Adding a property `exclusion_strategies` to the generic Context class would make it somehow specific again or did I misunderstand you there?

[2016-07-15 14:17] Ener-Getick commented on #1536
It would only be used by the jms serializer but i don't see another solution.
Except maybe making the adapters extandable.

[2016-07-18 16:05] kimwue commented on #912
@HamidDarash same here, how did you solve?

[2016-07-19 07:59] xabbuh commented on #1536
Sounds like a good idea. A comment may be needed to explain that this might not be supported by adapters (or we could make this comment even more generic so that it applies to the `Context` class as a whole).

[2016-07-19 11:45] abimelex opened #1541 "Access denied on GET method with no visible reason only in production mode"
When I'm in production mode I got the following access denied error for all my GET requests, but only in production mode and only for one bundle. I can't find the reason for this I also loaded the same configs as in dev mode.

POST and PATCH requests works. DELETE is also forbidden...

FOS REST Bundle: v1.7.4
Symfony: v2.6.12

`request.ERROR: Uncaught PHP Exception Symfony\Component\HttpKernel\Exc

[2016-07-20 07:35] lsmith77 commented on #1393
Yeah this is an annoying issue but I do not understand the proposed solution.

[2016-07-20 09:02] bblue commented on #1393
That was not really a solution. And I cannot recall exactly what I was thinking at the time, probably just a proposal to somehow let the user know why a 404 is generated by some fallback route. I'm at our summer cabin with no real way of investigating a proposed fix now (no 3G/4G), might look at it in a couple of weeks.

[2016-07-20 10:07] bblue commented on #1537
I am actually using dev-master for some reason, probably in error. I should have been on a stable branch.

[2016-07-22 12:16] lsmith77 commented on #1541
the cause for this does not need to be in FOSRestBundle. AccessDeniedListener is simply triggered because there is an uncaught ``AccessDeniedException``.

[2016-07-22 12:21] abimelex commented on #1541
I couldn't found the reason for this, but I removed FOSrest from the controller and now it works.

[2016-07-26 12:13] okdewit opened #1544 "Renaming array to map incompatibilities"
I just upgraded an old project from FOSRestBundle 1.7 to 2.0.

When replacing array=true with map=true in a parameter which is an array:

    * @REST\RequestParam(map=true, name="images", description="Images", nullable=true)

I get the following Symfony error:

    The options "constraints" must be set for constraint Symfony\Component\Validator\Constraints\All

The images parameter is an array, wi

[2016-07-27 08:35] cve commented on #1310
Is there any solution to this?

[2016-07-27 08:39] lsmith77 commented on #1310
did you try with 2.0?

[2016-07-27 08:41] cve commented on #1310
I have 2.0

[2016-07-27 08:47] cve commented on #1310
My code:

### PermissionController

[code]

![routing](https://cloud.githubusercontent.com/assets/594384/17169365/5b555b26-53e7-11e6-8c52-5a073942bac4.png)

[2016-07-27 09:16] cve commented on #1310
@lsmith77 am I missed somethink?

[2016-07-27 10:14] Ener-Getick commented on #1310
@cve ParamConverter aren't detected automatically by the router so you have to define this route manually.

[2016-07-27 18:15] tetele commented on #1529
Same issue here

    # app/config/routing.yml
    api:
        resource: "@ApiBundle/Resources/config/routes.yml"
        type:     rest
        prefix:   /api/{version}

and then

    # ApiBundle/Resources/config/routes.yml
    products:
        type:     rest
        resource: ApiBundle\Controller\ProductController
        name_prefix:  api_

    shops:
        type:     rest
        resource: A

[2016-07-29 16:43] senkal opened #1546 "Query param array validation: array to string conversion error"
Hello,
I followed the conversation about array to map changes and some logic to validate types for array keys.
What I want to achieve is really similar to what is in the docs:
[code]
http://symfony.com/doc/master/bundles/FOSRestBundle/param_fetcher_listener.html
But without the `map=true` to get parameters in validator once, as an array with keys

My setup is like this:
[code]
Following comment:
h

[2016-08-02 14:57] magnetik commented on #1498
I think I've pinpointed the issue (after a few hours)

I'm using symfony 3.1.3 with FOSRestBundle 2.0

1. When translating the serializer contexts (in `\FOS\RestBundle\Serializer\SymfonySerializerAdapter::convertContext`), when not using the groups the context 'group' is set to an empty array (default value). Then it's passed to symfony serializer.
2. Then when the ObjectNormalizer tries to get th

[2016-08-03 07:14] magnetik commented on #1498
But maybe the fix should be in the serializer component : it's useless anyway to loop on all attributes when the group array is empty since there won't be any match anyway.

[2016-08-03 15:45] Ener-Getick commented on #1498
Your fix looks good to me if we consider that's a bug in FOSRestBundle :)
WDYT @dunglas ?

[2016-08-04 02:17] dunglas commented on #1498
It is better to not set the `groups` key when groups are not used (for forward compatibility).

[2016-08-04 07:59] magnetik commented on #1498
So as @xabbuh  suggested in inline comment: set the default value of the property groups to null and set it as array when a group is added?

As it would be a BC break, it won't be shipped before 3.0 (not sure if FOS follows the same BC rules as symfony)?

[2016-08-04 08:35] Ener-Getick commented on #1498
@dunglas ok, thanks !

@magnetik we follow the same rules than symfony but less strictly. I think we should consider that as a bug fix and eventually change this method signature.

[2016-08-04 08:46] magnetik commented on #1498
Thanks.

Should I write a PR? Since the change are quite straightforward maybe it's faster if you write it directly, but I can do it if you want.

[2016-08-04 08:59] Ener-Getick commented on #1498
@magnetik i'm not on a computer for now but if you can wait i should be able to do it tomorrow :)

[2016-08-05 04:22] cve commented on #1009
Is it in the 2.0? I still have the issue...

[2016-08-08 08:10] xabbuh commented on #1009
@cve Can you provide the necessary steps to reproduce your issue?

[2016-08-08 16:18] Kaz- commented on #1018
I got exactly the same issue and I'm using jmsserializer, any idea of where it might come from ?

[2016-08-09 20:01] #1498 closed

[2016-08-12 12:57] manasbala commented on #1018
You should return

`
$view = $this->view($form->getErrors(true));
return $this->handleView($view);
`

[2016-08-16 07:36] NadaBen opened #1552 "404 Not Found in Prod environnement"
Hello,
I can access http:/localhost/app_dev.php (dev environment)

However, when I try to access the prod environment:
http:/localhost/app.php

it works with all routes, except routes of FOSRestBundle

I get the following error message
**404 Not Found**

I tried with
**php app/console cache:warmup --env=prod --no-debug**

but the same error with routes of my rest api ..

my routing parameters for

[2016-08-18 07:40] gatmanmihai commented on #1544
until it is not fixed, try to use instead of `nullable=true` this `default={}`

Before
`* @REST\RequestParam(map=true, name="images", description="Images", nullable=true)`

After
`* @REST\RequestParam(map=true, name="images", description="Images", default={})`

[2016-08-19 10:25] akomm opened #1555 "Format Listener schould omit content-type header on empty content"
[code]

When some routes under ^/api do not return any data, format listener should omit content-type: `application/json`, So it should do for other formats. If there are cases where it would not make any sense, maybe add it as an option, so you can tell to omit content-type if response is empty on json format.

[2016-08-19 10:39] Ener-Getick commented on #1555
Why removing the content type ? The listener can simply return null in JSON.

[2016-08-19 10:58] akomm commented on #1555
Why should null be returned as JSON when an operation does not return any data? And what do you do with XML? Not every operation on an URI does return data. JSON is only an example.

[2016-08-19 11:18] Ener-Getick commented on #1555
Well maybe we could add an option but i don't think it should be the default as some people would expect this behavior.

[2016-08-21 20:05] Abam opened #1556 "Symfony serializer default configuration not supported when no group is used"
With the new Serializer Context object, groups are set to an empty array by default.  This behavior make FOSRestBundle incompatible with the defaut Symfony serializer configuration.

Symfony Framework serializer is using by default the ObjectNormalizer. When I try to serialize an object without a group, no attribute is shown.

The only fix is to activate the GetSetMethodNormalizer.

[code]

To fix

[2016-08-21 20:06] Ener-Getick commented on #1556
That was fixed in https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1548

[2016-08-21 20:06] #1556 closed

[2016-08-21 20:19] Abam commented on #1556
The current fix modify the context object while changing the SymfonySerializerAdapter may cause less inpact to backward compatibility.
Which release will contain this fix ? 2.1 ?

[2016-08-21 20:26] Ener-Getick commented on #1556
@Abam it would be the safest action. Maybe we should release 2.1 sooner...

[2016-08-22 20:53] Ener-Getick commented on #1552
Can you try running `bin/console debug:router`?
In case you can't fix that yourself, we're gonna need more information such as your config, the URL you called, your routing, anything that might be useful.

[2016-08-22 20:59] Ener-Getick commented on #1546
I propose to use the VarDumper of symfony to print the invalid value. Could you submit a pr ?

[2016-08-22 21:01] Ener-Getick commented on #1540
It looks like it was fixed https://travis-ci.org/FriendsOfSymfony/FOSRestBundle/branches :)

[2016-08-22 21:01] #1540 closed

[2016-08-22 21:02] Ener-Getick commented on #1535
Fixed in https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1474

[2016-08-22 21:02] #1535 closed

[2016-08-23 11:44] Lumbendil commented on #1529
Bumping this issue, as it's happening to me aswell.

[2016-08-23 11:51] Ener-Getick commented on #1529
Can you try finding the corresponding route with `bin/console debug:router` ?

[2016-08-23 12:21] Lumbendil commented on #1529
@Ener-Getick

    vagrant@mymachine:/vagrant$ app/console debug:router get_categories
    +--------------+--------------------------------------------------------------------+
    | Property     | Value                                                              |
    +--------------+--------------------------------------------------------------------+
    | Route Name   | get_categories

[2016-08-23 14:22] senkal commented on #1546
@Ener-Getick sure, will do.
Do you want to use VarDumper all the time(even for string) or just when the invalid value is not scalar?

[2016-08-23 14:23] Ener-Getick commented on #1546
I'd say only when not scalar, for bc :)

[2016-08-24 09:41] senkal commented on #1546
I am not sure from which branch should I create the PR, 2.0 or master?
Do you have any contribute guide?

[2016-08-24 09:44] Ener-Getick commented on #1546
It looks like we don't :/ but we follow symfony practices.
I'd say let's do that on master as it is a consequent change.

[2016-08-24 12:20] NadaBen commented on #1552
It exists in routes .. i verified with bin/console debug:router

[2016-08-24 15:11] senkal commented on #1546
Just to be sure, I will need to add this dependency.
I don't see Symfony var-dumper inside composer.
Then just call `dump()` or use some more advanced formatting?
Maybe just `var_export` will be fine, looks like a lot of hassle to just dump a variable.

[2016-08-24 15:13] Ener-Getick commented on #1546
Yes could be fine as well, i'm not even sure we need to include the invalid value in the exception message.

[2016-08-24 15:16] senkal commented on #1546
In the end, the best way to format exception message is to catch the right Exception class and do the formatting on your own, using Symfony Violation list for example.
Here is just- do not break the app when using the use case I covered, simple var_export is fine probably.

Will do it.

[2016-08-25 12:23] akomm opened #1558 "Format Listener should return 406 with no content when fallback_format is not defined instead of falling back to text/html"
Having:

[code]

When I send a `GET` request to `/api/*` having header `Accept: text/plain` I get back a response with `Content-Type: application/json`. So far it is correct when using fallback format.

Having:
[code]

When I send a `GET` request to `/api/*` having header `Accept: text/plain` I get back a response with `Content-Type: text/html; charset=UTF-8`, status code 500 with HTML exception b

[2016-08-25 12:29] Ener-Getick commented on #1558
I agree it may look weird for your case but [`html` is used as the default fallback](https://github.com/FriendsOfSymfony/FOSRestBundle/blob/master/DependencyInjection/Configuration.php#L316).
You must explicitly remove it:
[code]

[2016-08-25 12:32] Ener-Getick commented on #1558
That's weird when we consider that [it is supported to not define the `fallback_format` option](https://github.com/FriendsOfSymfony/FOSRestBundle/blob/master/Negotiation/FormatNegotiator.php#L97).

[2016-08-25 12:39] akomm commented on #1558
Thanks. Now I get 406, although it is a bit weird. There is still the problem, that I get HTML back. setting `exception_fallback_format: json` does not help, as it seems the 406 is not generated via exception-handling. Actually when no acceptable format is found, should there be any content at all?

[2016-08-30 19:26] alanhartless commented on #1536
In the same boat here - ended up just downgrading to 1.8 after realizing this would be an issue as I'm also using a JMS custom exclusion strategy.

[2016-08-30 19:28] Ener-Getick commented on #1536
Can someone submit a PR for this one ? I already have a lot of PRs to manage :/

[2016-09-01 22:09] MatthieuMota opened #1563 "XML take priority"
I've question about FormatNegotiator. I wan't my API purpose :
http://myapi.com/users -> Return JSON
http://myapi.com/users.json -> Return JSON
http://myapi.com/users.xml -> Return XML

Now, I've :
http://myapi.com/users -> Return XML
http://myapi.com/users.json -> Return JSON
http://myapi.com/users.xml -> Return XML

In fos_rest config, I've simply put format_listener with a rule :

[code]

By an

[2016-09-02 08:36] Soullivaneuh commented on #1563
Which version of this bundle do you have? I have 2.0.0 and here is my complete config:

[code]

And I have json if I don't specify any extension on the URL.

[2016-09-03 22:48] pedroresende commented on #1082
@lsmith77 This is a possible PR for this

[2016-09-06 16:37] #1546 closed

[2016-09-07 13:53] greg0ire commented on #1556
Yes please! This bug is kind of deal-breaker if you're using the Symfony Serializer

[2016-09-07 14:33] Ener-Getick commented on #1544
This was fixed in https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1405.
Thanks for the report !

[2016-09-07 14:33] #1544 closed

[2016-09-07 15:02] Ener-Getick commented on #1528
Fixed in https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1568, thanks for the report !

[2016-09-07 15:02] #1528 closed

[2016-09-07 15:11] Ener-Getick commented on #1524
done in https://github.com/FriendsOfSymfony/FOSRestBundle/commit/183989449865836c08347f8e0e54e1f3aa9c45f0, thanks !

[2016-09-07 15:11] #1524 closed

[2016-09-08 16:46] #1492 closed

[2016-09-09 12:41] warlock39 opened #1569 "It is not possible to define route manually without "Action" suffix in controller method name"
Actually, it is normal behaviour for `RestActionReader`, but [**documentation**](http://symfony.com/doc/current/bundles/FOSRestBundle/7-manual-route-definition.html#method-name-prefix) in this case confuses developers to use manual definition of routes. Example demonstrates following snippet: `public function getUsers() { /** */ }`, but without `Action` suffix it will not work according to this co

[2016-09-09 12:46] lsmith77 commented on #1569
documentation is here https://github.com/FriendsOfSymfony/FOSRestBundle/tree/master/Resources/doc

[2016-09-12 10:37] tael opened #1571 "fos_rest.exception.codes configuration bug?"
Hi, I'm testing `Exception Handling` and stopped by a little problem belows.

I'm not sure this is a bug or NOT. But if not, I wish someone helps me! :D

Symfony\Component\HttpFoundation\Response::HTTP_* constant does not works.

from the manual ( http://symfony.com/doc/master/bundles/FOSRestBundle/4-exception-controller-support.html )

This Configuration does works, well
[code]
But, This configur

[2016-09-12 11:03] tael commented on #1571
I reviewed source code,
1.5 looks work maybe,
https://github.com/FriendsOfSymfony/FOSRestBundle/blob/1.5/Util/Codes.php
but 2.0 ? 404 not found this class
https://github.com/FriendsOfSymfony/FOSRestBundle/blob/2.0/Util/Codes.php
is it deprecated?

[2016-09-12 14:40] temp opened #1572 "Handler Registry / recursive parent loop"
What's the reason for the overridden getHandler() method inside the JMSHandlerRegistry?
It completely breaks my custom handler for custom type resolving...
Would it be possible to make this optional? Maybe the handler could opt-out via an interface?
As far as I can see there is no possibility to not have a handler for sub-classes.
When I restore the old functionality (no parent-traversal) everythi

[2016-09-12 16:20] Ener-Getick commented on #1572
It is here to manage any instance of Exception. We can of course replace it if you have a better solution ?

[2016-09-12 20:44] snebes commented on #1552
Did you verify that the routes are in prod, too?
`php app/console debug:rout --env prod`

[2016-09-13 09:00] JornEngelbart opened #1573 "BodyListener should check for supported content-type before checking if request is decodable"
The body listener first checks whether a request is decodable and then checks whether or not the given format derived from the content-type is supported. Because the decodable check returns ```false``` whenever a request is a form request, form requests are by definition always supported. This is inconvenient behaviour because for a lot of REST api's it is required to disallow these request to pre

[2016-09-13 11:50] mvrhov commented on #1571
The symfony does contain all the codes necessary and thus that class is gone in 2.0

[2016-09-13 12:07] tael commented on #1571
yes I agree.  but HTTP_FORBIDDEN is not works.
this feature is gone also?

[2016-09-13 15:04] JornEngelbart commented on #1573
Okay, after some research I think it would be better to have a configuration option to accept or not accept form content types. Will create pull request for my current solution

[2016-09-14 10:24] aaronahearne opened #1575 "System parameters cannot be used as requirements on a QueryParam annotation"
The following code does not work when a 'my_regex' parameter is listed in the parameters.yml file. Stepping through the code, this seems to be because the code sees this as class Fos\RestBundle\Validator\Constraints\Regex, which does not implement the ResolvableConstraintInterface. This happens even when my_regex is set to a simple string like 'test'

`* @QueryParam(name="departureTime", requireme

[2016-09-14 13:08] Ener-Getick commented on #1575
It looks like we forgot to implement this interface.
Could you submit a pr doing that + testing it ?

[2016-09-15 08:30] xero88 commented on #990
Hi,

I got "Bundle "person_controller" does not exist or it is not enabled. " when I do this.

[2016-09-16 11:09] podorozhny commented on #1536
+1

[2016-09-20 14:23] JornEngelbart opened #1577 "BodyListener is applied to all routes, not only the REST routes"
The BodyListener is applied to all routes, not only the REST routes.

In my case I want to implement a simple uploader. For csrf reasons I'd like to deny other content-types than application/json (see #1573). So the upload endpoint would be placed outside of the REST routes. But because this BodyListener is applied to all routes it still throws an exception when trying to use the upload endpoint.

[2016-09-20 17:48] Ener-Getick commented on #1577
The problem is the normalization which also works for forms (i don't even know why we implemented normalization at first) but otherwise i agree, i think it would make more sense.

[2016-09-20 19:20] JornEngelbart commented on #1577
@Ener-Getick Would it be an idea to create an option to only use normalisation and not the rest of the bodylistener implementation for non-REST routes?

[2016-09-20 19:39] Ener-Getick commented on #1577
@JornEngelbart for me, we should even deprecate this normalization part ^^ i don't get what it brings.

[2016-09-20 21:39] lsmith77 commented on #1577
see https://github.com/FriendsOfSymfony/FOSRestBundle/pull/736

[2016-09-21 12:16] franek opened #1578 "escape malformed UTF-8 characters"
On one of our project, we are using FOSRestBundle.
We have defined a query param :
[code]

Behind the scene, our API returns to user error message. It is serialized by Symfony serializer.

Some of our users try our endpoint and send us malformed UTF-8 characters. In this edge case, Serializer throws an exception :
[code]

[2016-09-22 10:23] ChristianVermeulen opened #1580 "ExceptionWrapper Status Codes being ignored"
Hi,

We are trying to wrap exceptions manually because we want to add more data to the exception besides the `status_code`, `message` and `errors`. So we have created our own `ExceptionWrapperHandler`.

At first it would spit out an array with our data, but this caused it to always return a `500` code in de headers. So then we tried returning an `ExceptionWrapper` with

[code]

However, though the

[2016-09-27 15:11] cyrilchapon opened #1581 "x-http-method-override and bodylistener"
[This part](https://github.com/FriendsOfSymfony/FOSRestBundle/blob/c1b87d933dfc9b59fc603f8e44f8064e4530a2b1/EventListener/BodyListener.php#L154-L161) of bodylistener code doesn't not accept `x-http-method-override`, while the routing part of the rest-bundle doest accepts it (IE: I'm falling inside my "getBlabla" function, but json is not decoded, when I send a POST with x-http-method-override to G

[2016-09-27 20:08] Ener-Getick commented on #1580
@ChristianVermeulen to have a more flexible implementation, you should use 2.0, it is using directly the serializer normalizers.

[2016-09-27 20:15] Ener-Getick commented on #1581
[This part is managed by symfony itself.](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/HttpFoundation/Request.php#L1278-L1284)
The `X-HTTP-METHOD-OVERRIDE` header is only allowed when using `POST`, you can't use it with `GET`.

BTW if possible don't use this trick, it may create security issues.

[2016-09-27 20:15] #1581 closed

[2016-09-28 08:41] cyrilchapon commented on #1581
Oh realy ? Didn't know that.
Any reference ? Thanks for information :)

[2016-09-28 08:42] Ener-Getick commented on #1581
That's described in the phpdoc of the method linked above.

[2016-09-29 07:13] temp commented on #1572
Not really. I found a solution for my problem.
But it should be stated somewhere, that this changes default serializer-bevaviour.

[2016-09-29 07:13] #1572 closed

[2016-09-30 09:02] valepu opened #1582 "[Question] Serialize array from request body"
I asked this question on stack overflow http://stackoverflow.com/questions/39778310/serialize-post-request-body-into-array-with-fosrestbundle/39787163#39787163

I'd like to know if it's possible to pass a JSON array in a request body and get it serialized into an array as a controller function argument

[2016-09-30 13:48] ChristianVermeulen commented on #1580
@Ener-Getick I just upgraded to 2.0 and created a handler for JmsSerializer but it is still not picking up the status code.. In my serialisation method I create an array and pass it on to the visitor:

[code]

The output I get in the body is a nice json, but the actual http status code is **still** 500 instead of the one I've set (400):

<img width="1152" alt="screenshot 2016-09-30 15 46 21" src="

[2016-09-30 15:35] Ener-Getick commented on #1580
This is managed [in the config](http://symfony.com/doc/master/bundles/FOSRestBundle/4-exception-controller-support.html). You have to define `fos_rest.exception.codes`.

[2016-09-30 16:38] Ener-Getick commented on #1582
Why not using `$request->request->all()`?

[2016-09-30 18:47] valepu commented on #1582
because i'd like to have all the stuff in the request as function arguments

[2016-09-30 18:57] Ener-Getick commented on #1582
[`ArgumentResolver`s](https://github.com/symfony/symfony/tree/master/src/Symfony/Component/HttpKernel/Controller/ArgumentResolver) will be available in sf 3.2 to do that easily, but that's not up to fosrest.

[2016-09-30 18:57] #1582 closed

[2016-09-30 19:12] valepu commented on #1582
That is not an answer though, does it mean there's no chance to serialize an array as function argument using FosRestBundle right now? Not even an alternative way to implement it by myself?

[2016-09-30 19:16] Ener-Getick commented on #1582
FOSRestBundle deserializes the request content into the symfony `Request`. The function arguments injection is managed by symfony itself.
You can either solve this by creating an `ArgumentResolver` if you use sf 3.2 or by creating a `ParamConverter`.

[2016-09-30 19:33] valepu commented on #1582
I'm not sure i'm making myself clear.
If I try to serialize an array instead of an object using a configuration that works fine with objects, i get this error:

[code]

To me this sounds like that the fos_rest.request_body converter is not able to serialize arrays at all.
Is this correct?
Is this a bug?
Why is it so?
If this is not a bug, why it is not possible to serialize arrays using the fos_re

[2016-09-30 19:35] Ener-Getick commented on #1582
The request body converter is to deserialize object, to deserialize into an array, you have to use the body listener (it is already enabled in your app so you only have to remove the request body param converter).

[2016-09-30 19:41] bblue commented on #1536
Is anyone working on a PR for this? I'll give it a shot if not...

[2016-09-30 19:45] Ener-Getick commented on #1536
I don't think so. I think updating the jms adapter should be enough.

[2016-09-30 21:13] bblue commented on #932
I am successfully using the paramconverter and fetching objects by different keys when using the automatic route generation (I'm on 2.0). Never had an issue with this...

Example code below that works.

    /**
     * Find object by different property than its ID
     *
     * @ParamConverter("referral", options={"mapping":{"referral" = "anotherPropertyThanID"}})
     * @param Referral $referral

[2016-09-30 21:20] valepu commented on #1582
Wouldn't that imply that i won't be able to use it as a function argument?

[2016-09-30 22:50] #932 closed

[2016-10-01 08:21] Ener-Getick commented on #1582
As i already said, you have to create your own ParamConverter or ArgumentResolver.

[2016-10-01 09:17] valepu commented on #1582
Ok, i think i'm actually going to make an object with an array inside, there won't be many use cases where i'll be sending an array but thanks for your suggestions.
But my question, which has not been answered yet, still stands: why the fos_rest.request_body converter does not offer json array conversion?

I've seen that symfony does not populate the "class" parameter in the configuration object w

[2016-10-01 09:34] Ener-Getick commented on #1582
@valepu JSON to array conversion is supported by the body listener NOT by this param converter. The request is already populated with what you what. The easiest way to get it is to use `$request->request->all()`.

But again I don't see the benefit to pass the request content as a parameter, you'll have to implement that yourself, will lose performance and that will be kind of hacky.

[2016-10-04 11:06] aaronahearne commented on #1575
Will do

[2016-10-05 12:54] #1580 closed

[2016-10-07 12:05] edefimov commented on #1571
@tael No, it's not gone, it looks like a bug in the bundle. [This PR](https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1585) fixes this issue

[2016-10-07 15:32] Ener-Getick commented on #1577
@lsmith77 but what issue does it solve?

[2016-10-07 19:46] #1569 closed

[2016-10-08 12:59] valepu commented on #1582
Apparently there's no need to implement a param converter of my own or do any hacky thing.
If you have the JMS Serializer (which i think almost everybody has) all you need to to to convert an array is to put "array" in the class field of the paramconverter.

[2016-10-10 22:39] alanhartless opened #1586 "Deprecation: The alias option of the form.type_extension tag of service "fos_rest.form.extension.csrf_disable" is…option of the form.type_extension tag of service "fos_rest.form.extension.csrf_disable" is deprecated since version 2.8 and will be removed in 3.0."
This is filling up my logs and related to https://github.com/FriendsOfSymfony/FOSRestBundle/blob/master/Resources/config/forms.xml#L10 which has a note about < 2.8.

[code]

But is there something we can do to prevent this error? I'd rather not globally disable deprecation logging.

[2016-10-11 04:57] Ener-Getick commented on #1586
I don't think we can do anything except advising you to upgrade to 3.0.

[2016-10-11 07:10] xabbuh commented on #1586
We could add the text inside the DI extension instead of here. This way we could select the tag attributes based on the installed version of the Form component.

[2016-10-11 15:20] adam-bernau opened #1588 "Fatal error after upgrade to 2.1.0 version (Symfony 2.8)"
`Fatal error: Uncaught Symfony\Component\Debug\Exception\FatalThrowableError: Type error: Argument 1 passed to FOS\RestBundle\Controller\ExceptionController::__construct() must be an instance of FOS\RestBundle\View\ViewHandlerInterface, none given,`

[2016-10-11 16:22] Ener-Getick commented on #1588
I guess you reference this controller in your own code and you didn't change this reference by the service name or you didn't change its building arguments.
Without more informations, it looks like this is related to your code.

[2016-10-11 16:22] #1588 closed

[2016-10-11 16:24] Ener-Getick commented on #1586
@xabbuh indeed, it shouldn't be hard i'll try to remember to do it tomorrow unless someone already submited a pr.

[2016-10-12 16:53] xabbuh commented on #1082
This was fixed by #1564.

[2016-10-12 16:53] #1082 closed

[2016-10-12 16:55] xabbuh commented on #1571
This was fixed by #1585.

[2016-10-12 16:55] #1571 closed

[2016-10-12 17:02] xabbuh commented on #1536
This was implemented in #1583.

[2016-10-12 17:02] #1536 closed

[2016-10-12 18:01] xabbuh commented on #1529
@Lumbendil What is the exact path that you are trying? What output do you get when using the `router:match` command with that path?

[2016-10-12 20:20] xabbuh commented on #1575
@aaronahearne Can you please check if #1591 fixes this issue for you?

[2016-10-12 20:26] Lumbendil commented on #1529
@xabbuh answer from memory.

The path I tried was `/frontend/api/something/v1/categories`, there was no match, and on symfony debug, when inspecting, it said something along "get_categories" route is a close match but version doesn't match the requirements (the route version was being overriden by the listener).

[2016-10-12 20:26] Lumbendil commented on #1529
It should be noted that adding `?version=v1` did make the route match.

[2016-10-14 08:48] edefimov opened #1593 "Broken code after upgrading willdurand/negotiation dependency"
After updating willdurand/negotiation dependency to version 2.2.0 via `composer update` FOSRestBundle fails with syntax error

`
[Symfony\Component\Debug\Exception\ContextErrorException]
  Warning: Declaration of FOS\RestBundle\Negotiation\FormatNegotiator::getBest($header, array $priorities = Array) should be compatible with Negotiation\AbstractNegotiator::getBest($header, array $priorities, $str

[2016-10-14 09:15] willdurand commented on #1593
Argh. I knew it.. Sorry for this, I am going to revert the change and publish a fix right away.

[2016-10-14 09:22] xabbuh commented on #1593
Thank you for reporting this issue @edefimov. However, I am closing here as this will be fixed by willdurand/Negotiation#87.

[2016-10-14 09:22] #1593 closed

[2016-10-14 09:24] willdurand commented on #1593
This is now fixed in [Negotiation 2.2.1](https://github.com/willdurand/Negotiation/releases/tag/v2.2.1). @edefimov could you please confirm?

[2016-10-14 09:26] xabbuh commented on #1541
Closing as the problem seems to have been solved.

@abimelex Please let us know if you think that we still need to fix something.

[2016-10-14 09:26] #1541 closed

[2016-10-14 10:23] maennchen opened #1595 "Introduction of Manipulative Param Converters"
I'm one of the authors of https://github.com/ibrows/rest-bundle which is an extension of the Fos Rest Bundle.

We use a construct called Manipulative Param Converters. There is for example a `PatchParamConverter` which applies a JSON Patch (RFC 6902) onto an object loaded by another param converter.

Example:
[code]

This will:
 * Load the Object via the param converter named in `options[source]`

[2016-10-14 12:25] edefimov commented on #1593
Yes, thanks 2.2.1 works well. I suggest to add this into composer.json:
[code]

[2016-10-14 12:37] xabbuh commented on #1593
Imo that's not really necessary. Noone should use a version constraint that is so restrictive in that it only allows 2.2.0, but denies 2.2.1. The thing is that each conflict rule we add will add more workload to Composer's solver without much added benefit imo.

@lsmith77 @Ener-Getick What do you think?

[2016-10-14 13:05] willdurand commented on #1593
I don't think it is worth adding a conflict either. We don't do that for other bug fixes.

[2016-10-14 15:46] Ener-Getick commented on #1595
I think it would be interesting to have such param converter.
But [it looks like](https://github.com/sensiolabs/SensioFrameworkExtraBundle/pull/436) param converter are meant to die, so shouldn't we wait for their alternative?

Besides that, would you be interested to port some of your bundle features into fosrestbundle? I looked quickly its doc and your EtagListener looks especially interesting t

[2016-10-14 15:55] Ener-Getick commented on #1593
I agree i don't think we need to add a conflict either :)

[2016-10-18 18:08] claudiobizzotto opened #1596 "Bad routing when using PSR-7 (ServerRequestInterface)"
Looks like [this](https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1229) is still happening. My routes come out like this (note the extra `/{request}` under `POST`):
[code]

Collection routes look good when I add `\Psr\Http\Message\MessageInterface::class` to [`ignoreClasses[]`](https://github.com/FriendsOfSymfony/FOSRestBundle/blob/master/Routing/Loader/Reader/RestActionReader.php#L474).

[2016-10-18 19:07] #1596 closed

[2016-10-18 19:14] claudiobizzotto commented on #1596
Closed this and left a [comment](https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1229#issuecomment-254609036) on original PR.

[2016-10-19 18:31] xabbuh commented on #1232
@eXtreme @Ener-Getick Please take a look at #1597.

[2016-10-19 18:49] xabbuh commented on #1586
see #1598

[2016-10-21 10:25] iltar commented on #1595
To me this looks like a bad approach (sorry for bursting in, came here through the linked PR). This means that adding a specific annotation would cause manipulation of objects you receive, while this manipulation should be initiated in your controller. As it is, you are altering the state of managed objects at a point you have no control over. That means that if an event listener triggers a flush

[2016-10-21 10:29] maennchen commented on #1595
@iltar Yes, but I don't see a point in repeating myself in every controller for a very defined task (like applying a JSON Patch onto an object.)

This way an API Controller can be built very fast and is tested thoroughly.

Also EventListeners shouldn't just flush random objects. That is not a problem of a ParamConverter.

[2016-10-21 10:32] maennchen commented on #1595
@Ener-Getick Yes sure, I'll make separate PR's for the listeners that make sense. (Soon, I don't have time right now.)

I don't really like the approach of this Arg Annotation. If you just call one simple function, it's easy. If you have a more complex converter (like setting the serializer context group) for the body converter, this will get very messy.

[2016-10-21 10:34] iltar commented on #1595
@maennchen parameter converters are meant to transform an incoming parameter into an object, not to execute logic.

[2016-10-21 10:39] maennchen commented on #1595
@iltar I have no doubt about that they are not meant to execute code, but lacking a better instrument we implemented it like that.

Even though it may be not the perfect solution, it gets the job done without repeating the same code in every controller.

If you have a better Idea on how to solve a generic approach to execute JSON Patches, Link / Unlink requests etc. on incoming parameters, I'd lov

[2016-10-21 12:24] iltar commented on #1595
[code]

Just because it's convenient, doesn't make it a good solution (especially not this one).

[2016-10-22 09:42] Ener-Getick commented on #1586
Fixed in https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1598.

[2016-10-22 09:42] #1586 closed

[2016-10-23 16:13] dstotijn opened #1600 "`jms_serializer.form_error_handler.class` parameter from `serializer.xml` is not used"
In `Resources/config/serializer.xml` of this bundle, the parameter `jms_serializer.form_error_handler.class` is overridden to `FOS\RestBundle\Serializer\Normalizer\FormErrorHandler`. However, when I test with returning a form with errors from a controller, instead the serialized output from the default `JMS\Serializer\Handler\FormErrorHandler` class is seen in the HTTP response body. It seems the

[2016-10-23 18:03] xabbuh commented on #1600
In what or do you enable the FOSRestBundle and JMSSerializerBundle in the kernel class?

[2016-10-23 18:06] dstotijn commented on #1600
@xabbuh: I've enabled FOSRestBundle and JMSSerializerBundle in `app/AppKernel.php` like described in step "B" [here](https://symfony.com/doc/master/bundles/FOSRestBundle/1-setting_up_the_bundle.html).

[2016-10-23 18:12] dstotijn commented on #1600
@xabbuh: OK, just found out what I did wrong: I put FOSRestBundle before JMSSerializer in the array I return in `\AppKernel::registerBundles`. If I reverse them, everything works like expected, without me having to override the parameter myself. Was banging my head on this one ;)
Thanks!

[2016-10-23 18:12] #1600 closed

[2016-10-23 19:31] geoffreytran commented on #1538
Running into this same issue here

[2016-10-25 11:03] kopaygorodsky commented on #991
I also have a bug with an empty parameter in RequestParam.
[code]

$cardToken is "", I have no idea why it's passing validation.

[2016-10-25 17:23] Ener-Getick commented on #991
@kopaygorodsky bugs are no longer fixed in FOSRestBundle 1.8, you should upgrade to 2.0.

[2016-10-31 13:14] ChristianVermeulen commented on #1580
But this means I need to config every exception we make / throw hardcoded... That is not a viable option. We need it to be dynamic. This list of exceptions can grow fairly quickly in a moderate sized API! It will turn into a very unmaintainable list...

[2016-10-31 13:44] Ener-Getick commented on #1580
@ChristianVermeulen as your exceptions extend `HttpException` they should already be managed. Can you check if [this part of the code](https://github.com/FriendsOfSymfony/FOSRestBundle/blob/master/Controller/ExceptionController.php#L109) is executed?

[2016-11-03 14:47] daFish opened #1602 "Change priority of DisableCSRFExtension to make it compatible with Symfony 3.2"
Hi.

I was testing an app with Symfony 3.2 Beta and encountered the following issue like @romainneutron pointed out in [symfony/symfony#20332](https://github.com/symfony/symfony/issues/20332). I'd suggest to change the priority of the extension in order to avoid having this issue once more people are updating their apps to Symfony 3.2.

[2016-11-03 17:25] njaw opened #1603 "Body Converter with Custom Validator"
Just wondering if there is a way to define a custom validator when using the body_converter. I am developing an application not using ORM and would like to define the validator when a request is made. I would like to do something like this:

[code]

Is this possible to do? I could not find anything specific in the documentation.

[2016-11-03 18:00] Ener-Getick commented on #1603
You can use your own validator for FOSRestBundle services using [its configuration](https://symfony.com/doc/master/bundles/FOSRestBundle/configuration-reference.html) (e.g. `fos_rest.service.validator`) but I'm not sure that's what you want.

If you only want to use validation without an ORM, you can use [symfony's annotations](https://symfony.com/doc/current/validation.html) or configuration file

[2016-11-03 18:02] Ener-Getick commented on #1602
I'm not against that but as I don't use much symfony forms I can't tell if that's the right solution. Do you know what caused this?

[2016-11-07 10:14] daFish commented on #1602
@GuilhemN I'm not quite sure but I suspect it might be related to [symfony/symfony#19790](https://github.com/symfony/symfony/pull/19790).
The used Trait sorts the fetched extensions causing the issue I describe.

[2016-11-10 11:20] TobiasXy opened #1604 "Versioning with path parameter doesn't set exclusion strategy version"
Currently I'm setting up versioning for my Rest API which is already using this bundle (and the Symfony Serializer).

I need the requested version in my serializer, because the Controller only returns an entity, but depending on the requested version it should be normalized with a different representation.

If I provide the version through a query string parameter or a header it works fine and I c

[2016-11-10 18:36] xabbuh commented on #1604
This indeed looks like an issue to me. I suggest to split the `VersionListener` to fix this bug. The existing `VersionListener` should only be responsible to set the `version` request attribute when necessary. We can then introduce a new event listener that is executed after the `VersionListener` and sets the view handler's exclusion strategy version based on the request's version attribute (if se

[2016-11-11 10:18] GuilhemN commented on #1604
@xabbuh what about adding a `RequestAttributeVersionResolver` instead?

[2016-11-11 10:20] xabbuh commented on #1604
@GuilhemN But we actually do not need to resolve the attribute anymore. We get that for free thanks to the Symfony routing system. So I don't think we should add this resolver at all.

[2016-11-11 10:45] GuilhemN commented on #1604
Then maybe we could do in the same listener (at the end):
[code]
?

[2016-11-11 10:49] xabbuh commented on #1604
That would work too.

[2016-11-11 10:54] GuilhemN commented on #1604
It's just I think having a new listener is overkill but if you think it's worth it, we can create it.

[2016-11-11 11:55] #1603 closed

[2016-11-11 19:56] GuilhemN commented on #1602
I investigated a bit and I didn't find what could cause this issue in the PR you linked :/
Would you mind reverting it locally on your repository and see if this issue still happen ?

[2016-11-14 16:34] greg0ire opened #1607 "Supporting several FOSRestBundle versions"
Recently, a strong accent has been put on BC when developing Sonata bundle. To help users migrate easily from the current generation to the next, it has been decided to support 2 versions of the fos rest bundle. The problem is sonata is using annotations like `QueryParam`, and annotations are by nature not dynamic (and should therefore be avoided in this context IMO). What are the alternatives? Ho

[2016-11-14 17:22] GuilhemN commented on #1607
Maybe that's gonna look hacky, but you could have your own annotation:
[code]
Then you'll be able to use `array` for 1.x and 2.x.

Or maybe better, you could have your own annotation harcoding both `array` and `map` to true.

[2016-11-14 17:47] greg0ire commented on #1607
Yeah, a bit :laughing: … but that's an idea.

 I think there must be some kind of thing that reads annotations, then calls some method on a class to register the parameters. Not sure how it works, but maybe you do? I was hoping it was not tightly coupled with annotations.

I was wondering if [this method](https://github.com/FriendsOfSymfony/FOSRestBundle/blob/master/Request/ParamFetcher.php#L77) i

[2016-11-14 17:59] GuilhemN commented on #1607
Our annotations implement `ParamInterface` but a param doesn't need to be an annotation, it's just convenient. You can add parameters using `addParameter` if you don't want to use an annotation of course (btw you could extend `QueryParam` and fill its properties as you need in the constructor and then inject the parameter dynamically).

From what i know doctrine injects values directly in the anno

[2016-11-14 22:14] greg0ire commented on #1607
I'm indeed quite reluctant to use an annotation. I think these are great when you write something in RAD mode, but if you need flexibility like a library does, you shouldn't use annotations IMO :

- They're by nature not dynamic.
- They annotate something, which means they are very tightly coupled to it.

I know maintaining things is hard, so I'm not suggesting FOSRest should support XML or YAML f

[2016-11-15 06:16] GuilhemN commented on #1607
This is doable, however i'm not sure that's worth it.

Using php is already possible, just not very user friendly.

[code]

[2016-11-15 07:10] greg0ire commented on #1607
At the moment it probably isn't but, it might be a good thing to keep it mind if the library evolves towards more flexibility one day.

I'll try that and keep you posted. In the meantime, I'm going to close this, there is no need to keep it open IMO.

[2016-11-15 07:10] #1607 closed

[2016-11-15 09:43] daFish commented on #1602
@GuilhemN I just tried it and reverting the PR solves the problem. So, I'd go and open a PR to add the priority for the listener. Or should we go another route for solving the problem?

[2016-11-15 11:14] GuilhemN commented on #1602
It may be a symfony issue but adding a priority on our side to fix it looks good to me.

[2016-11-17 08:46] SalvatorePollaci opened #1608 "QueryParam 'incompatibles' attribute does not work as expected"
According to the official [symfony docs](http://symfony.com/doc/current/bundles/FOSRestBundle/param_fetcher_listener.html), using the 'incompatibles' attribute it is possible to prevent clients requesting n parameters simultaneously:

     * @RequestParam(name="byauthor", requirements="[a-z]+", description="by author", incompatibles={"search"})
     * Imagine you have an api for a blog with to get

[2016-11-18 11:24] winds1983 opened #1610 "Cannot authentication with access_token"
Current I use: Symfony 3 + FOSRestBundle + FOSOAuthServerBundle to build Restful.
I can get correct client and access_token, but cannot authorize via access_token
API URL: http://domain.local/app_dev.php/api/users?access_token=NTljNmQ3MTgzYjc1Zjg3MzA4YWVlYTk0MDA3NjM2MmIzZGM0MzgzZWE4NDk3M2M0NDdiM2E0NTM4ZWVmYTVkMQ

but still get below error:
[code]

config.yml
[code]

Security.yml
[code]

Can you he

[2016-11-18 16:23] GuilhemN commented on #1610
From what I see, this issue should have been submitted to [FriendsOfSymfony/FOSOAuthServerBundle](https://github.com/FriendsOfSymfony/FOSOAuthServerBundle). So I'm closing it, feel free to resubmit it on the right repo.

[2016-11-18 16:23] #1610 closed

[2016-11-20 19:55] adiachenko opened #1612 "No way to preserve Twig error pages?"
Symfony 2.8
FOSRestBundle 2.1

FOSRestBundle seems to always override default exception handling in Symfony. I already have my own `KernelEvents::EXCEPTION` subscriber, that handles formatting and the like, but in certain cases, I **fall back to default Twig error pages for better debug information when developing**. I tried multiple config options under `fos_rest` namespace but I can't figure out

[2016-11-20 20:18] adiachenko commented on #1612
I apologize. It seems like when testing things out I accidentally left a format specifier in a URI (i.e. `/api/users.json` instead of `/api/users`) which resulted in the above problem.

If you call the route like normally would, FOSRestBundle won't override default Exception handling behavior and you'll get your normal Twig error pages.

I'll leave this comment for future reference in case someone

[2016-11-20 20:18] #1612 closed

[2016-11-23 11:44] adpauly opened #1614 ""default" parameter not parsed in some cases"
When using a QueryParam annotation and having nullable set to true and strict to true it seems that the "default" parameter is not parsed.

e.g.:
[code]
Everything is OK. If "items_per_page" parameter is set, the requirements will be checked strictly, if not, the null value will be used.

But if I write the following:
[code]

An error occurs even if the parameter is not set. I guess that the valid

[2016-11-23 12:12] GuilhemN commented on #1614
https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1568 wasn't available in a stable version.
I release new patches https://github.com/FriendsOfSymfony/FOSRestBundle/pull/1568, you just need to upgrade :)

Thanks for the report!

[2016-11-23 12:12] #1614 closed

[2016-11-23 13:01] adpauly commented on #1614
Thanks to you!

[2016-11-23 15:19] havvg opened #1615 "[Routing] unsupported keys "name_prefix", "parent""
The documentation at http://symfony.com/doc/master/bundles/FOSRestBundle/6-automatic-route-generation_multiple-restful-controllers.html shows examples of providing `name_prefix` & `parent` options on routes. However when defining them, I receive the following exception on Symfony `v3.1.5`

  The routing file "[...]/app/config/environments/dev/routing.yml" contains unsupported keys for "api_faq_top

[2016-11-24 08:38] xabbuh commented on #1615
Did you put the routes containing options specific to FOSRestBundle in a separate file and then loaded that file with the `type: rest` option?

[2016-11-24 09:06] havvg commented on #1615
I have them in separate files and importing a `type: directory` with `*.yml` in it having `type: rest` defined.

I just tried your suggestion and it seems to work. So the issue is the directory definition using multiple files? Is there a way I do not need to add the definitions all over, when adding new routes?

[2016-11-24 11:21] xabbuh commented on #1615
Unfortunately, I don't think there is another solution currently.

@GuilhemN @lsmith77 I could imagine that we make it possible to let the `DirectoryRouteLoader` load a bunch of configuration files (be it PHP, XML, or YAML) from a directory too (or write a dedicated loader for that). What do you think?

[2016-11-25 06:17] Abam opened #1616 "[Documentation][fr] French documentation"
Hi,

Since Symfony 3 official documentation doesn't support frecnh anymore, I've found out a well written documentation explaining FOSRestBundle in french [Créez une API REST avec Symfony 3](https://zestedesavoir.com/contenus/1280/creez-une-api-rest-avec-symfony-3/).
It's a good starting point for beginners.

It would be nice to have a list of references (links, ebook, ...) in the readme that you

[2016-11-25 16:40] #1604 closed

[2016-11-25 21:31] GuilhemN commented on #1615
@xabbuh I'd go for a separate loader like [what does symfony](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Routing/Loader/DirectoryLoader.php) with the `rest-directory` type. But that would need some work, so do we really want to support this case? It looks very unusual to me.

[2016-11-25 21:55] xabbuh commented on #1615
Not sure how common this is. I usually stick with annotations. However, adding a new loader should not really hurt if someone is willing to provide a pull request.

[2016-11-25 21:58] GuilhemN commented on #1615
Sure, let's see if someone is interested then.

[2016-11-28 15:22] numediaweb opened #1617 "Warning: array_merge(): Argument #1 is not an array"
I have this issue in vendor/friendsofsymfony/rest-bundle/EventListener/MimeTypeListener.php at line 57:
[code]
I am using PHP 5.6.25 with:
[code]

[2016-11-29 12:25] danitome24 opened #1619 "Use FOSRestBundle in existing table"
Hi,

I have an existing table called users_web with fields user (username), email, password... And I want to use FOSRestBundle with existing mapping. How to handle it?

Thanks!

[2016-11-30 13:21] numediaweb commented on #1617
I fixed it temporary by disabling the jpg and png mime types in config.yml
[code]

[2016-11-30 13:48] GuilhemN commented on #1617
You can fix this by putting all your mime types in arrays. I don't know if we ever supported using only strings.

In any case, I'm wondering whether we should deprecate this section as `framework.request.formats` does exactly the same thing...

[2016-12-01 10:37] jorge07 commented on #1619
Sounds like wrong repo, try in [FOSUserBundle](https://github.com/FriendsOfSymfony/FOSUserBundle). Rest does not related with user...

[2016-12-01 11:07] NaeiKinDus opened #1620 "Working with JSON form in a POST action"
Hello,

I am trying to create a POST action using forms and JSON content, but I can't figure out for the life of me how to get that working.
Is it possible to use Symfony's forms in a controller to automatically handle input errors ? If I just return the $form, Symfony will complain about a missing TWIG template (which is normal); if I create a TWIG page that contains only "{{ form_errors(form) }}

[2016-12-01 11:37] xabbuh commented on #1619
Closing as this indeed looks it was posted on the wrong repository.

[2016-12-01 11:37] #1619 closed

[2016-12-02 13:36] jorge07 commented on #1620
I'm not using twig to render, I use serializer but I'll leave you here my config, maybe helps you a little:

Config: https://github.com/jorge07/ddd-playground/blob/master/app/config/bundles/rest.yml

Controller: https://github.com/jorge07/ddd-playground/blob/master/src/UI/RestBundle/Controller/Security/SecurityController.php#L113

Good luck!

[2016-12-02 13:49] NaeiKinDus commented on #1620
Thanks for the help but I think the controller is of no help here (you do not seem to deal with JSON data at all, especially the POST body request part). I've tried tinkering with the parameters, no luck so far :-/

[2016-12-02 14:00] jorge07 commented on #1620
I use the body listener, that convert the request param from json (or whatever config you have) into a array, so it's transparent, you never deal with json in a controller this is a fosrestbundle responsability: http://symfony.com/doc/master/bundles/FOSRestBundle/body_listener.html

[2016-12-02 14:36] NaeiKinDus commented on #1620
OK I think I understood; I can "describe" the way I expect data to be passed in JSON using \@RequestParam and then fetch them. But what next ? $form->handleRequest() requires a request object, and I only know this way to check whether a form is valid or not. The other way I an currently trying to implement is using JMSSerializer to serialize $request->getContent() and output an entity and later on

[2016-12-02 14:41] jorge07 commented on #1620
The form not always require a Request object.  See: https://github.com/jorge07/ddd-playground/blob/master/src/Infrastructure/CommonBundle/Factory/AbstractFactory.php#L58